body{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}
form{
    z-index: 2;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    margin: 4% auto;
    gap: 0.5rem;
    background: rgba(255, 255, 255, 0.61);
    box-shadow: var(--box-shadow2);
    width: 37rem;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
}
form h1{
    color: var(--Dark-Yellow);
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.form-group{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}
form label{
    font-size: var(--size-lg);
    font-weight: 600;
}
.form-group input{
    width: 100%;
    background: rgba(190, 192, 194, 0.753);
    border: none;
    border-radius: 8px;
    height: 2.8rem;
}
.form-group input:focus{
    background-color: rgb(190, 192, 194);
}
form button{
    margin-top: 0.5rem;
    background: var(--Maroon);
    color: white;
    padding: 0.7rem 0;
    border-radius: 8px;
    transition: all 0.2s ease;
}
form button:hover{
    background: rgb(110, 1, 1);
}
form a{
    color: var(--Maroon);
    font-weight: 600;
    transition: all 0.2s ease;
}
form a:hover{
    color: rgb(110, 1, 1);
    font-size: var(--size-base);
}
.form a, form h5{
    font-size: var(--size-sm);
    font-weight: 600;
}
.form-bottom{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.image-cont{
    position: absolute;

}

@media (max-width: 1380px) {
    form h1{
        font-size: var(--size-2xl);
    }
    .form-group label{
        font-size: var(--size-sm);
    }
    .form-group input{
        height: 2.3rem;
    }
}