<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block header %}

    {% endblock %}
    <link rel="icon" type="image/png" href="{% static 'assets/images/landing-page/logo/singlelogo.svg' %}" />
    <title>
      {% block title %}
        HealthHarmony
      {% endblock %}
    </title>
  </head>
  <body>
    {% block message %}

    {% endblock %}
    {% block main %}

    {% endblock %}
    {% block script %}

    {% endblock %}
  </body>
</html>
