<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block header %}{% endblock %}
        <link rel="icon"
              type="image/png"
              href="{% static 'assets/images/svgs/logotitle.svg' %}" />
        <title>
            {% block title %}HealthHarmony{% endblock %}
        </title>
    </head>
    <body>
        {% block message %}{% endblock %}
        {% block main %}{% endblock %}
        {{ request.user.profile.url|json_script:'pathname' }}
        <script src="{% static 'js/dist/main.js' %}" type="module"></script>
        <script src="{% static 'js/general/nav.js' %}" type="module"></script>
        <script src="{% static 'js/general/messages.js' %}" type="module"></script>
        {% block script %}{% endblock %}
    </body>
</html>
