{% load static %}
<section class="doctor containers" id="doctors">
    <h1>Doctors</h1>
    <div class="swiper mySwiper container">
        <div class="swiper-wrapper content">
            {% for doctor in doctor_data %}
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="image">
                            <img src="{{ doctor.profile }}" alt="" />
                        </div>
                        <div class="name-profession">
                            {% if doctor.first_name and doctor.last_name %}
                                <span class="name">{{ doctor.first_name }} {{ doctor.last_name }}</span>
                            {% endif %}
                            <div class="sched-title">
                            <span class="sched-span" style="color: rgb(163, 163, 163);">Schedule: </span><div><span class="js_time">{{ doctor.time_avail_start|default_if_none:'' }}</span> - <span class="js_time">{{ doctor.time_avail_end|default_if_none:'' }}</span> </div> 
                            </div>
                            {% if doctor.avail %}
                                <span class="sched-span">Available</span>
                            {% else %}
                                <span class="sched-span">Not Available</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</section>
