{% load static %}
<section class="hero containers section">
  <!-- HERO SECTION -->
  <div class="hero-content">
    <h1>Streamline <span class="span-yellow">Care</span> Achieve <span class="span-red">Wellbeing</span> with <span class="span-yellow">Health</span> <span class="span-red">Harmony</span></h1>
    <p>Imagine a world where your patients can schedule appointments online, and access their medical records with ease. Health Harmony helps a seamless patient experience, increasing satisfaction and loyalty while reducing administrative burdens.</p>
    <a href='{% url 'account_login' %}'><button class="hero_button yellow_button" onclick="openPopup()">View your Medical Record</button></a>
  </div>
  <img src="{% static 'assets/images/landing-page/mainillus.svg' %}" class="main-illus" />
</section>
