{% load static %}
<section class="weather containers section" id="weather">
    <div class="weather-header">
        <h1 class="h1_hero">Current Weather</h1>
        <p>
            It checks your local weather conditions, temperature, and even gives you a heads up on any potential health concerns linked to the forecast
        </p>
    </div>
    <div class="weather-container">
        <div class="temp-part">
            <img src="https://openweathermap.org/img/wn/{{ icon }}@2x.png" />
            <div class="temp-heatwave">
                <h1 class="span-normal">{{ temp }}°C</h1>
                <div class="heatwave">
                    <span class="span-lightgray">Heat Wave</span>
                    <span class="span-lightgray">{{ feels }}°C</span>
                </div>
            </div>
        </div>
        <div class="location-part">
            <img src="{% static 'assets/images/landing-page/loc.svg' %}" />
            <div class="location">
                <h3>Bacolor, Dhvsu</h3>
                <span class="span-lightgray">Main Campus</span>
            </div>
        </div>
        <div class="sickness-part">
            <h4>Sickness Prediction</h4>
            <div class="sickness">
                <ul>
                    {% for sick in predict %}<li> <img class="sick-icon" src="{% static 'assets/images/landing-page/sick.svg' %}" /> <span> {{ sick.title }}</span></li>{% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
