{% extends 'base.html' %}
{% load static %}
{% block title %}Log In | HealthHarmony{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'css/modern-normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utils.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
          rel="stylesheet" />
{% endblock %}
{% block main %}
    <section class="left-side">
        <a href="{% url 'home' %}">
            <img src="{% static 'assets/images/svgs/logo.svg' %}" class="logo" />
        </a>
        <span class="header">Welcome</span>
        <form action="{% url 'account_login' %}" method="post">
            {% csrf_token %}
            <div class="input-container">
                <input type="email"
                       name="login"
                       placeholder="Your email address"
                       autocomplete="email"
                       maxlength="320"
                       required
                       id="id_login" />
                <span class="material-symbols-outlined input-logo">person</span>
            </div>
            <div class="input-container">
                <input type="password"
                       name="password"
                       placeholder="Your password"
                       autocomplete="current-password"
                       required
                       aria-describedby="id_password_helptext"
                       id="id_password" />
                <span class="material-symbols-outlined input-logo">lock</span>
            </div>
            <div class="remember-forgot">
                <label for="">Remember me</label>
                <input type="checkbox" name="remember" id="id_remember" />
                <span class="helptext" id="id_password_helptext"><a href="{% url 'account_reset_password' %}">Forgot your password?</a></span>
            </div>
            <button type="submit" class="login">Login</button>
        </form>
        <p>
            Don't have an account yet? Please <a href="{% url 'account_signup' %}">Sign Up here</a>
        </p>
        <a class="return-btn-a" href="{% url 'home' %}">
            <div class="return-btn">
                <span class="material-symbols-outlined">
                    arrow_back_ios_new
                </span>
                <span>
                    Return to Homepage
                </span>
            </div>
        </a>
    </section>
    <img src="{% static 'assets/images/svgs/loginillus.svg' %}" class="illus" />
{% endblock %}
