{% extends 'base.html' %}
{% load static %}
{% block title %}Reset Password | HealthHarmony{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/auth/reset-pass.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utils.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
          rel="stylesheet" />
{% endblock %}
{% if messages %}
    {% block message %}
        {% for message in messages %}{{ message }}{% endfor %}
    {% endblock %}
{% endif %}
{% block main %}
    <div class="password-container">
        <h1>Password Reset</h1>
        <p class="p-1st">
            Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.
        </p>
        <form method="post" action="/accounts/password/reset/" class="">
            {% csrf_token %}
            <div class="email-cont">
                <label for="id_email">Email:</label>
                <input type="email"
                       name="email"
                       placeholder="Email address"
                       autocomplete="email"
                       maxlength="320"
                       required
                       id="id_email" />
            </div>
            <button type="submit">Reset My Password</button>
        </form>
        <p class="please-contact">Please contact us if you have any trouble resetting your password.</p>
    </div>
{% endblock %}
{% comment %} {% extends 'account/base_entrance.html' %}
{% load i18n allauth account %}
{% load static %}
{% block header %}
  <link rel="stylesheet" href="{% static 'css/modern-normalize.css' %}" />
  <link rel="stylesheet" href="{% static 'css/auth/reset-pass.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}
{% block head_title %}
  {% trans 'Password Reset' %}
{% endblock %}
{% block content %}
  {% element h1 %}
  {% trans 'Password Reset' %}
  {% endelement %}
  {% if user.is_authenticated %}
    {% include 'account/snippets/already_logged_in.html' %}
  {% endif %}
  {% element p %}
  {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
  {% endelement %}
  {% url 'account_reset_password' as reset_url %}
  {% element form form=form method='post' action=reset_url %}
  {% slot body %}
  {% csrf_token %}
  {% element fields form=form %}
  {% endelement %}
  {% endslot %}
  {% slot actions %}
  {% element button type='submit' %}
  {% trans 'Reset My Password' %}
  {% endelement %}
  {% endslot %}
  {% endelement %}
  {% element p %}
  {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
  {% endelement %}
{% endblock %} {% endcomment %}
