{% extends 'base.html' %}
{% load static %}
{% block title %}Reset Password | HealthHarmony{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/auth/reset-pass.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utils.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
          rel="stylesheet" />
{% endblock %}
{% if messages %}
    {% block message %}
        {% for message in messages %}{{ message }}{% endfor %}
    {% endblock %}
{% endif %}
{% block main %}
    <div class="password-container">
        <h1>Password Reset</h1>
        <p>
            We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.
        </p>
        <button class="back-home" onclick="window.location.href='{% url 'home' %}'">Back to Homepage</button>
    </div>
{% endblock %}
