body{
    display: grid;
    grid-template-columns: 30rem auto;
    min-height: 100vh;
}
a{
    color: hsl(0, 3%, 56%);
}
.left-side{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    align-items: center;
    border-right: 0.5px solid rgb(201, 201, 201);
}
.logo{
    margin-top: 1.5rem;
    width: 10rem;
    height: auto;
}
.header{
    font-size: var(--size-4xl);
    margin-bottom: 1rem;
}

.input-container {
    position: relative;
    width: 22rem;
    height: 50px;
    margin-bottom: 12px;
}

.input-container input {
  height: 100%;
  width: 100%;
  border: 1px solid #a89f9f;
  border-radius: 30px;
  outline: none;
  font-size: 13px;
  padding: 20px 45px 20px 20px;
}
.input-container input:focus {
  border-color: rgb(201, 217, 23);
  box-shadow: 0 0 5px rgb(201, 217, 23);
}

.input-container .input-logo{
    font-size: var(--size-3xl);
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--);
    opacity: 50%;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -5px 0 15px;
}

.login{
    margin-top: 1rem;
    border: none;
    color: white;
    background-color: #F5C755;
    border-radius: 30px;
    height: 50px;
    width: 22rem;
    cursor: pointer;
    transition: all 0.2s;
}
.login:hover{
  background-color: #cea642;
}
.illus{
    justify-self: center;
    align-self: center;
    width: 35rem;
}
