{% load static %}
<div class="right-part">
    {% include 'staff/profile-right.html' %}
    <div class="right">
        <div class="top">
            <div>
                <h2>Inventory Chart</h2>
            </div>
            <div>
                <h4>Medicines</h4>
            </div>
            <div>
                <h4>Supply</h4>
            </div>
        </div>
        <div>
            <div>
                <canvas id="inventory-chart"></canvas>
            </div>
        </div>
    </div>
    <div class="right">
        <div>
            <h4>Trends</h4>
            <div>
                <button class="seasonal-bar-filter" data-filter="week">7 Days</button>
                <button class="seasonal-bar-filter" data-filter="month">30 Days</button>
                <button class="seasonal-bar-filter" data-filter="year">12 Months</button>
            </div>
        </div>
        <div id="bar-space"></div>
        <div>
            <button class="seasonal-bar-category" data-filter="medicine">Medicine</button>
            <button class="seasonal-bar-category" data-filter="supply">Suppy</button>
        </div>
    </div>
</div>