 /* BED SPACE */

 .bedSpace{  /* THE WHOLE SECTION */
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.bed-ambu{
    display: flex;
    gap: 5rem;
}
.bed-cont, .ambu-cont{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.bed-cont h1, .ambu-cont h1{
    font-weight: 500;
    font-size: var(--size-xl);
    color: rgb(163, 163, 163);
}
.bed-cont h1{
    margin-left: 8px;
}
.ambu-cont{
    gap: 1rem;
}



.beds{  /* 4 BEDS AT WHOLE */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    gap: 1.4rem;
    padding: 1rem 2rem;
    max-width: 28.5rem;
    overflow-y: auto;
}
.bed-space2{  /* THE WHOLE SECTION */
    position: relative;
    max-width: 1200px;
    height: 500px;
    margin: auto;
    padding: 0rem 1rem;
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.beds2{  /* 4 BEDS AT WHOLE */
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
    width: 350px;
    height: 350px;
    background:rgb(240, 240, 240);
    box-shadow: var(--box-shadow2);
    border-radius: 20px;
    margin-top: 8px;
    margin-right: 40px;
}
.beds2 img{
    margin-left: 25px;
    width: 250px;
    height: auto;
    margin-bottom: 10px;
}
.beds2 h1{
    font-size: x-large;
    margin-bottom: 4px;
}
.bed-container{     /* SINGLE BEDS */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 170px;
    background: white;
    padding: 1.2rem 2.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.bed-container img{
    max-width: 90px;
    height: auto;
}
.bed-container span{
    font-size: medium;
}
.bed-header{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* border: 1px solid green; */
    
}
.bed-header h1{
    text-align: center;
    font-weight: 700;
    color: rgb(31, 31, 31);
}
.bed-header h1, .weather-header h1{
    font-size: var(--size-2xl);
}
.bed-header p{
    color: rgb(31, 31, 31);
    font-weight: 500;
    text-align: center;
}

/* BED SPACE */
/* WEATHER */
    .weather{
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 3rem;
        margin-bottom: 2rem;
    }
    .weather-check{
        position: relative;
        max-width: 1200px;
        height: 500px;
        margin: auto;
        padding: 4rem 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 10rem;
    }
    .weather-header h1{
        margin-top: 1rem;
        font-weight: 700;
        color: rgb(31, 31, 31);
    }
    .weather-header p{
        margin-top: 0.2rem;
        color: rgb(31, 31, 31);
        width: 400px;
        font-weight: 500;
        line-height: 1.4;
    }
    .weather-container{ /* WHOLE CONTAINER */
        display: flex;
        flex-direction: column;
        padding: 2rem 3rem;
        max-width: 350px;
        min-height: 320px;
        border-radius: 15px;
        gap: 1rem;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    }
    .temp-part{     /* TOP PART */
        display: flex;
        align-items: center;
        gap: 0.5rem;

    }
    .temp-part img{
        width: 70px;
        height: auto;
    }
    .temp-heatwave{
        display: flex;
        flex-direction: column;
    }
    .temp-heatwave h1{
        font-size:xxx-large;
        font-weight: 400;
        margin-top: 10px;
        line-height: 0.7;
    }
    .heatwave span{
        font-size: medium;
        margin-left: 3px;
        font-weight: 500;
    }
    .heatwave{
        margin:0;
        /* border:1px solid black; */
    }
    .location-part{ /* MIDDLE PART */
        display: flex;
        gap: 1rem;
        margin-left:10px;
    }
    .location{
        margin-top: 12px;
    }
    .location h3{
        font-weight: 500;
        line-height: 0.6;
    }
    .sickness-part{ /* BOTTOM PART */
        display: flex;
        align-items: start;
        margin-left:7px;
    }
    .sickness-part img{
        margin-top: 5px;
    }
    /* WEATHER */

    /* CONTAINER */

@media (max-width: 1380px){
    .bed-header h1, .weather-header h1{
        font-size: var(--size-xl);
    }
    .bed-header p, .weather-header p{
        font-size: var(--size-sm);
    }
    .bed-cont h1, .ambu-cont h1{
        font-size: var(--size-base);
    }
    .beds2{  /* 4 BEDS AT WHOLE */
        width: 320px;
        height: 320px;
    }
    .beds2 img{
        width: 220px;
    }
    .beds2 h1{
        font-size: var(--size-xl)
    }
    .beds2 p{
        font-size: var(--size-sm);
    }
    .bed-container{     /* SINGLE BEDS */
        gap: 0.7rem;
        width: 150px;
        padding: 1.2rem 2.5rem;
    }
    .bed-container img{
        max-width: 60px;
    }
    .bed-container span{
        font-size: var(--size-sm);
    }
/* WEATHER PART */

    .weather-container{ /* WHOLE CONTAINER */
        padding: 2rem 3rem;
        max-width: 320px;
        min-height:290px; 
        gap: 0.5rem;
    }

    .temp-part img{
        width: 70px;
        height: auto;
    }
    .temp-heatwave h1{
        font-size:var(--size-4xl);
    }
    .heatwave span{
        font-size: var(--size-sm);
    }

    .location span{
        font-size: var(--size-sm);
    }
    .sickness-part{ /* BOTTOM PART */
        display: flex;
        align-items: start;
        margin-left:7px;
    }
    .sickness-part img{
        margin-top: 5px;
    }


}
 /* xl */
 @media (max-width: 1280px) {
    
 }

 /* lg */
 @media (max-width: 1024px) {

 }

 /* md */
 @media (max-width: 768px) {
   
 }

 /* sm */
 @media (max-width: 640px) {

 }

 /* xs */
 @media (max-width: 475px) {

 }