/* DOCTORS */

.doctor{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
    color: var(--normal-fontcolor);
  }

  .swiper{
    width: 950px;
  }
  .swiper-wrapper{
    padding: 0rem 1rem;
  }

  .card{
    position: relative;
    background: #fff;
    border-radius: 20px;
    height: 400px;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }

  .card::before{
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: white;
    border-radius: 20px 20px 0 0;
  }

  .card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
  }

  section .card .image{
    height: 140px;
    width: 140px;
    border-radius: 20%;
    padding: 3px;
    background: var(--normal-fontcolor);
    margin-top: 30px;
  }

  section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20%;
    border: 3px solid #fff;
  }

  .card .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: black;
  }

  .name-profession .name{
    font-size: 20px;
    font-weight: 600;
  }

  .name-profession .profession{
    font-size:15px;
    font-weight: 500;
  }
  .sched-span{
    text-align: center;
  }
  .sched-title{
    display: flex;
    flex-direction: row;
    gap: 4px;
  }
  .swiper-button-next, .swiper-button-prev{
    opacity: 0.7;
    color: rgb(104, 99, 99);
    transition: all 0.3s ease;
  }
  .swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color: rgb(42, 38, 38);
  }

  @media (max-width: 1024px) {
    .swiper{
      width: 830px;
    }
    section .card .image{
      height: 120px;
      width: 120px;
      margin-top: 8px;
    } 
    .sched-title{
      flex-direction: column;
      gap: 0;
    }
  }
  @media (max-width: 900px){
    .swiper{
      width: 750px;
    }
    .card{
      height: 250px;
      margin: 20px 0;
    }
    .card::before{
      height: 20%;
    }
  
    .card .card-content{
      padding: 30px;
    }
    section .card .image{
      height: 110px;
      width: 110px;
      margin-top: 0px;
    }
    .card .name-profession{
      margin-top: 8px;
    }
  
    .name-profession .name{
      font-size: 20px;
      font-weight: 600;
    }
   
    .sched-span{
      font-size: var(--size-sm);
      text-align: center;
    }

 }
 /* md */
 @media (max-width: 768px) {
  .swiper{
    width: 600px;
  }
  .card{
    max-width: 280px;
  }
  section .card .image{
    height: 80px;
    width: 80px;
    margin-top: 0px;
  }
  .name-profession .name{
    font-size: var(--size-base);
    font-weight: 600;
  }
  .js_time{
    font-size: var(--size-sm);
  }
 }

 /* sm */
 @media (max-width: 640px) {
  .mySwiper{
    width: 350px;
  }
  .card{
    margin-left: 1.2rem;
  }
  section .card .image{
    height: 60px;
    width: 60px;
  }
  .name-profession .name{
    font-size: var(--size-sm);
    font-weight: 600;
  }
  .js_time{
    font-size: var(--size-sm);
  }
 }

 /* xs */
 @media (max-width: 475px) {

 }