/* POP UP ERROR */
.containerPage{
    background: rgba(13, 13, 13, 0.545);
    position: fixed;
    top:50%;
    left: 50%;
    width: 100%;
    height: 100%;
    align-items: center;
    visibility: hidden;
    transition: transform 0.4s;
    z-index: 102;
    transform: translate(-50%,-50%) scale(0.1);
}
.popUp{
    background: white;
    width: 430px;
    padding: 3rem 0rem;
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    transform: translate(-50%,-50%);
}
.open-popup{
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
}
.popUp span{
    margin-top: 2rem;
    font-weight: bold;
    font-size: larger;
}
.popUp p{
    margin-top: 8px;
}
.popUp img{
    width: 300px;
}
.popUp button{
    margin-top: 1.5rem;
    width: 200px;
    padding: 10px 0rem;
    border-radius: 1rem;
    background: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: large;
    transition: all 0.3s ease;
}
.popUp button:hover{
    background: black;
    color: white;
}
/* POP UP ERROR */
      hr{
        margin: 0 auto;
        width: 50%;
      }

      .container-aboutUs{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;
      }

    .container-aboutUs p{
        width: 550px;
        font-size: var(--size-lg);
        text-align: start;
        color: black;
    }
     .container-aboutUs h1, .contact-info h1{
        font-size: var(--size-2xl);
        font-weight: 600;
    }

    /* FOOTER */
    .footer-data{
        display: flex;
        gap: 5rem;
        margin-bottom: 1rem;
    }
    footer{
        color: var(--normal-fontcolor);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 300px;
        gap: 1rem;
    }
    .contact-info{
        align-items: start;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-right: 5rem;
    }
    .contact-bottom{
        display: flex;
        gap: 8px;
    }
    .right-info{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .email-info a{
        color: var(--normal-fontcolor);
    }
    .right-info h3{
        font-size: var(--size-xl);
        color: rgb(155, 155, 155);
        font-weight: 500;
        line-height: 1;
    }
    .right-info span{
       font-size: var(--size-base);
    }
    a{
        text-decoration: none;
    }
    .social-logo, .right-info span{
        color: black;
    }
