/* HEADER */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: sticky;
    top: 0;
    margin-top: 0rem;
    background: var(--Background-color);
    z-index: 100;
}
.nav-logo{
    width: 210px;
}
.header_menu{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style:none;

    }
.header_link{
    font-size: var(--size-lg);
    color: var(--light_gray);
    font-weight: 300;
}
.header li{
    transition: all 0.3s ease;
}
.header li:hover{
    transform: translateY(-5px);
}
.header li:hover a{
    color: black;
}
.logout{
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
    font-size: var(--size-lg);
}
.logout:hover{
    background: var(--Yellow);
}

.header_hamburger{
    display: none;
}
/* HEADER */

@media (max-width: 1380px){
    .header{
        /* border: 1px solid green; */
    }
    .nav-logo{
        width: 180px;
    }
    .header_link{
        font-size: var(--size-sm);
    }
    .logout{
        padding: 0.5rem 1rem;
        font-size: var(--size-sm);
    }
}

  /* xl */
  @media (max-width: 1280px) {
    
  }

  /* lg */
  @media (max-width: 1024px) {
    .header_menu{
        gap: 1rem;
        }
    .nav-logo{
        width: 160px;
    }
    .header_link{
        font-size: var(--size-xs);
    }
    .logout{
        padding: 0.5rem 1rem;
        font-size: var(--size-xs);
    }
  }

  /* md */
  @media (max-width: 768px) {
    .header_menu{
        display: none;
    }
    .header_hamburger{
        display: block;
    }
    .logout{
        display: none;
    }
  }

  /* sm */
  @media (max-width: 640px) {

  }

  /* xs */
  @media (max-width: 475px) {

  }
