[flake8]
; extend-ignore = C101, D403, F401, F403, I100, I201, W503, W504, E501, F821
extend-ignore = C101, D403, F401, F403, I100, I201, W503, W504, E501
exclude =
    .gitignore,
    __pycache__,
    .venv
filename = *.py
accept-encodings = utf-8
inline-quotes = single
max-complexity = 10
max-linenumber = 500
multiline-qoutes = double
per-file-ignores =
    healthharmony/users/views.py: E402
    ; healthharmony/api/views.py: C901
    healthharmony/staff/views.py: C901
