
.action-part{
    margin-top: 0.7rem;
    height: 10rem;
    padding: 1rem 1.2rem;
    width: 100%;
    border-radius: 1.2rem;
    background: #FFECBF ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.action-part h1{
    align-self: flex-start;
    font-weight: 500;
}
.action-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.action-button{
    background: white;
    width: 10rem;
    height: 2.5rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.button-top{
    display: flex;
    gap: 8px;
}
.action-button:hover{
    background: rgba(255, 255, 255, 0.596);
}

.bar-section{
    display: flex;
    flex-direction: column;
    max-height: 67vh;
    overflow-y: auto;
    gap:1rem;
    padding: 0rem 0.3rem;
}

.Bar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* From https://css.glass */
    background: rgb(255, 236, 191);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(251, 194, 91, 0.19);
    border-radius: 2rem;
    padding: 2rem 2rem;
}
.Bar h4{
    color:var(--normal-fontcolor);
    font-weight: 600;
    font-size: var(--size-xl);
}
.bars{
    height: 1rem;
}
.barsTop h5{
    font-size: var(--size-sm);
    font-weight: 500;
}
.barsTop h2{
    color: black;
    font-size: var(--size-lg);
}
.bars canvas{
    border-radius: 2rem;
    width: 100%;
    height: 1rem;
}
.barsTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bar-data{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0.5rem 0.5rem;
    max-height: 16rem;
    overflow-y: auto;
}

.bar-btn-section{
    display: flex;
    gap: 4px;
    justify-content: space-between;
}
.bar-btn, .bar-btn-active{
    font-size: var(--size-sm);
    padding: 0.4rem 0;
    width: 6rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.bar-btn, .bar-btn-active{
    color: var(--light_gray);
    border: 1px solid rgba(255, 255, 255, 0);
}
.bar-btn-active{
    border: 1px solid var(--light_gray);
}
.bar-btn:hover{
    border:1px solid var(--light_gray);
}
.add-new-content{
    margin: 3% auto;
}
/* BED SECTION */
    .bed-modal{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        min-height: 50%;
        margin: 5% auto;
        gap: 1rem;
    }
    .bed-top{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .bed-top h3{
        font-size: var(--size-xl);
        font-weight: 600;
    }
    .bed-top button{
        padding: 0.4rem 1rem;
        background-color: black;
        color: white;
        border-radius: 8px;
        transition: all 0.2s ease;
    }
    .bed-top button:hover{
        background-color: rgba(0, 0, 0, 0.616);
    }
    .bedSpace{
        width: 20rem;
    }
    .bed-cont{
        display: flex;
        align-items: center;
        gap: 4px;
    }
    .bed-cont .h4-cont, .bed-cont button{
        width: 50%;
        height: 3rem;
        margin-bottom: 4px;
    }
    .h4-cont{
        border: 1px solid black;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .h4-cont h4{
        font-weight: 500;
        font-size: var(--size-xl);
    }
    .bed-cont button{
        background: rgb(1, 119, 1);
        border-radius: 8px;
        color: white;
    }
/* BED SECTION */
.add-new form input{
    height: 3rem;
}


/* 2xl */
@media (max-width: 1536px) {
    .action-part{
        margin-top: 1rem;
        height: 9rem;
        padding: 1rem 1.2rem;
    }
    .action-part h1{
        font-size: var(--size-xl);
    }
    .action-button-container{
        display: flex;
        gap: 1rem;
    }
    .action-button{
        width: 8.5rem;
        height: 2.2rem;
        font-size: var(--size-sm);
    }
    .Bar h4{
        font-size: var(--size-lg);
    }
    .bar-btn{
        width: 6rem;
    }
  }

  /* xl */
  @media (max-width: 1380px) {
    .right-part{
        margin-top: 0rem;
    }
    .action-part{
        margin-top: 0rem;
        height: 9rem;
        padding: 1rem 1.2rem;
    }
    .action-part h1{
        font-size: var(--size-base);
    }
    .action-button{
        font-size: var(--size-sm);
    }
    .bar-section{
        max-height: 63vh;
        overflow-y: auto;
        /* border: 1px solid green; */
    }

    .Bar{
        gap: 0.8rem;
        padding: 2rem 1rem;
    }
    .bars{
        height: 0.7rem;
    }
    .bars h5{
        font-size: var(--size-sm);
        font-weight: 500;
    }
    .bar-btn{
        font-size: var(--size-xs);
        width: 5rem;
    }
    .bar-btn-active{
        font-size: var(--size-xs);
        width: 5rem;
    }
    .bar-data{
        gap: 4px;
        padding: 0rem 0.5rem;
        max-height: 12rem;
    }
  }

  @media (max-width: 1280px) {

  }

  /* lg */
  @media (max-width: 1024px) {

  }

  /* md */
  @media (max-width: 768px) {

  }

  /* sm */
  @media (max-width: 640px) {

  }

  /* xs */
  @media (max-width: 475px) {

  }
