{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/google-login.css' %}" />
    <title>Google Sign In</title>
  </head>

  <body>
    <div class="container">
      <a href="#"><img src="{% static 'assets/svgs/logo.svg' %}" /></a>
      <h1>Sign In with Google</h1>

      <p class="text">You can register a new account or log in using your Google account.</p>

      <form method="POST" action="{% provider_login_url 'google' %}">
        {% csrf_token %}
        <a href="{% url 'home' %}" class="btncan">Cancel</a>
        <button class="btncon" type="submit">Continue</button>
      </form>
    </div>
  </body>
</html>
