main{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bed-section{
    width: 90%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}
.bed-section h3{
    font-size: var(--size-xl);
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.newBed-btn{
    margin-left: 1rem;
    margin-bottom: 0.3rem;
    background: rgb(43, 43, 43);
    padding: 0.3rem 1rem;
    color: white;
    border-radius: 8px;
}
.bedSpace{
    margin-left: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* border:1px green solid; */
    gap: 8px;
}
.singleBed{
    /* border: 1px solid black; */
    background: #e6e5e5;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    border-radius: 12px;
}
.singleBed button{
    padding: 0.3rem 1rem;
    background: var(--Green);
    color: white;
    border-radius: 8px;
}

.post-management{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.slider-wrapper{
    overflow: hidden;
    max-width: 1000px;
    margin: 0 50px 55px;
    /* border: 1px solid black; */
}


.card-list .card-item{
    /* border: 1px solid black; */
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    color: black;
    background: white;
    width: 330px;
    min-height: 400px;
    padding-bottom: 35px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.card-list .card-item .media-content{
    width: 100%;
    height: 190px;
    border-radius: 6px;
    margin-bottom: 8px;
}
.card-list .card-item .card-title{
    margin-bottom: 4px;
    font-size: var(--size-xl);
}
.content-wrapper .content{
    width: 300px;
    font-size: var(--size-sm);
}
.content-wrapper {
    min-height: 60px;
    max-height: 60px;
    overflow: hidden;
    position: relative;
}
.content-wrapper.expanded {
    max-height: 100px;
    min-height: 100px;
    overflow-y: auto;
    max-height: 100px;
}
.see-more {
    color: rgb(150, 150, 150);
    font-size: var(--size-base);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 6px;
    margin-bottom: 6px;
    align-self: flex-start;
    transition: color 0.3s ease;
}
.see-more:hover {
    color: black;
    font-weight: 600;
}

.card-bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0px; /* Adjust based on padding/margin */
    left: 0px;
}
.card-profile{
    display: flex;
    justify-content: center;
    gap: 4px;
}
.card-profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-profile-info h5{
    font-weight: 600;
    line-height: 1;
}
.card-profile-info h5, span{
    font-size: var(--size-sm);
}
.dp-container{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(87, 87, 87);
}
.dp-container img{
    border-radius: 50%;
}

.edit-btn{
    color: green;
}
.delete-btn{
    color: red;
}
.slider-wrapper .swiper-pagination-bullet{
    background: black;
    height: 10px;
    width: 10px;
}
.swiperBtn:hover{
    color: rgb(27, 71, 153);
}
/* @media (max-width: 768px){
    .slider-wrapper{
        margin: 0 10px 40px;
    }
    .slider-wrapper .swiperBtn{
        display: none;
    }
} */
