.myGraphs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.morbidity-chart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: white;
    box-shadow: var( --box-shadow2);
    border-radius: 2rem;
    padding: 2rem 3rem;
}
.morbidity-chart:hover{
    box-shadow: var(--box-shadowlight);
}
.top-chart{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0rem 3rem;
}
.date-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.morbidity-chart h4{
    font-size: var(--size-2xl);
    font-weight: 600;
}

.cat-button{
    font-size: var(--size-sm);
    width: 7rem;
    height: 2.5rem;
    border-radius: 6px;
    opacity: 50%;
}
.active-cat{
    border: 1px solid var(--Red);
    color: var(--Red);
    opacity: 100%;
}
.active-pat{
    border: 1px solid var(--Yellow);
    color: var(--Yellow);
    opacity: 100%;
}
.label-container{
    align-self: center;
}
.label-container label{
    font-size: var(--size-lg);
}
.label-container select{
    padding: 0rem 1rem;
    height: 2.2rem;
    color: var(--normal-fontcolor);
    border: 1px solid var(--normal-fontcolor);
    border-radius: 6px;
    text-align: center;
    margin-left: 6px;
    margin-bottom: 6px;
}


/* 2xl */
@media (max-width: 1536px) {

}

@media (max-width: 1380px) {
    .morbidity-chart h4{
        font-size: var(--size-xl);
        font-weight: 600;
    }
    .top-chart{
        padding: 0rem 1rem;
    }
    .cat-button{
        font-size: var(--size-xs);
        width: 6.5rem;
        height: 2.2rem;
    }
    .label-container label{
        font-size: var(--size-base);
    }
    .label-container select{
        font-size: var(--size-sm);
    }
}
/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {

}

/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {

}
