.myGraphs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.morbidity-chart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: white;
    box-shadow: var( --box-shadow2);
    border-radius: 2rem;
    padding: 2rem 3rem;
}
.morbidity-chart:hover{
    box-shadow: var(--box-shadowlight);
}
.top-chart{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0rem 3rem;
}
.date-buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.morbidity-chart h4{
    font-size: var(--size-2xl);
    font-weight: 600;
}

.cat-button{
    font-size: var(--size-sm);
    width: 7rem;
    height: 2.5rem;
    border-radius: 6px;
    opacity: 50%;
}
.active-cat{
    border: 1px solid var(--Red);
    color: var(--Red);
    opacity: 100%;
}
.active-pat{
    border: 1px solid var(--Yellow);
    color: var(--Yellow);
    opacity: 100%;
}
.label-container{
    align-self: center;
}
.label-container label{
    font-size: var(--size-lg);
}
.label-container select{
    width: 12rem;
    height: 2.2rem;
    color: var(--normal-fontcolor);
    border: 1px solid var(--normal-fontcolor);
    border-radius: 6px;
    text-align: center;
    margin-left: 6px;
    margin-bottom: 6px;
}