main{
    margin-top: 1.5rem;
    color: var(--normal-fontcolor);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
main h2{
    font-weight: 500;
}
main .top-part{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    align-items: center;
}

main .today-patient{
    justify-items: right;
    display: flex; /* Ensure .today-patient is also flex container */
    align-items: start; /* Center vertically */
    transition: all 0.3s ease;
    padding: 0.8rem 1.5rem;
}
main .today-patient:hover{
    box-shadow: var(--box-shadowlight);
}
main .today-patient .info{
    width: 100%;
}
main .today-patient .info h1{
    font-weight: 500;
}
main .today-patient .info span{
    font-size: small;
    color: var(--normal-fontcolor);
}

.info-bottom{
    margin-top: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
