main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.modal-content{
    position: relative  ;
    background-color: #fefefe;
    margin: 7% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    padding: 1rem 2rem;
    width: 40%;
    border-radius: 10px;
}
.modal-content h1{
    align-self: flex-start;
    font-size: var(--size-2xl);
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .modal-content form{
    display: flex;
    flex-direction: column;
}
.modal-content form input{
    background: #E3E5E6;
    width: 95%;
    border: none;
    border-radius: 5px;
    padding: 0rem 1rem;
    margin-bottom: 0.5rem;
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.view-content{
    padding: 0 0;
    display: flex;
    flex-direction: column; 
    border: 2px solid black;
}
.visit-info-cont{
    text-align: center;
    border-bottom: 1px solid black;
    display: flex;
    width: 100%;
}

.left-visit, .right-visit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 14px 8px;
}
.left-visit{
    border-right: 1px solid black;
}
.right-visit h4, .left-visit h3{
    font-size: var(--size-lg);
    font-weight: 500;
}
.left-visit h3{
    color: var(--navbuttons);
}
.view-cancel-button{
    width: 30%;
    background: black;
    color: white;
    padding: 1rem 0;
    border-radius: 8px;
    margin: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.3s ease;
}
.view-cancel-button:hover{
    background: white;
    color: black;
    border: 1px solid black;
}
.visit-history table, .lower table{
    margin-top: 1rem;
    background-color: white;
    width: 98%;
    padding: 0.5rem 1.5rem;
    text-align: center;
    box-shadow: var(--box-shadow2);
    border-radius: 1rem;
    transition: all 0.3s ease;
    border-collapse: separate; /* Allows spacing between rows */
    border-spacing: 4px 4px;
}
.visit-history table:hover, .lower table:hover{
    box-shadow: var(--box-shadowlight);
}

.visit-history table tbody{
    display: block;
    max-height: 300px; /* Set the height of the tbody */
    overflow-y: auto; /* Enable scrolling for the tbody */
    border-spacing: 0 0.8rem;
    width: 100%;
}

.visit-history table thead{
    position: sticky;
}
.visit-history table tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* Ensures that cells align properly */
}

.header-content {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.2rem 0;
}
.header-content{
    /* border: 1px solid rebeccapurple; */
    text-align: left;
    justify-content: space-between;
}
.header-content h1 {
    /* border: 1px solid orange; */
    font-size: var(--size-lg);
    color: var(--normal-fontcolor);
    font-weight: bold;
    margin-top: 1rem;
}
.sort-by {
    font-size: var(--size-sm);
    display: flex;
    align-items: center;
    font-weight: 400;
    color: var(--light_gray);
}
.sort-by select {
    padding: 0.3rem 0.2rem;
    font-size: var(--size-xs);
    border: none;
    border-radius: 5px;
    background-color: white;
}
/* 2ND ROW OF VISIT HISTORY */

.category-buttons {
    display: flex;
    gap: 0.2rem;
}
.category-buttons button{
    font-size: var(--size-sm);
    padding: 0.4rem 0.5rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0);
}
.category-buttons .visit-record_cat-active, .visit-record_cat{
    color: var(--light_gray);
    border: 1px solid rgba(255, 255, 255, 0);
}
.category-buttons .visit-record_cat-active{
    border: 1px solid var(--light_gray);
}
.category-buttons .visit-record_cat:hover{
    border: 1px solid var(--light_gray);
}

.add-record-btn{
    background: black;
    border-radius: 1rem;
    padding: 8px 1.5rem;
    color: white;
    font-size: var(--size-base);
}
.add-record-btn:hover{
    background: rgba(0, 0, 0, 0.555);
}

/* 2ND ROW */
.visit-history .table-head, .lower table .table-head{
    color: var(--light_gray);
    font-weight: 500;
    opacity: 70%;
    /* border: 1px solid red; */
}
.visit-history .table-head, .visit-history .table-data,.lower table .table-data, .lower table .table-head{
    padding-right: 1rem;
    text-align: left;
    font-size: var(--size-sm);
}
/* Apply consistent column widths */
.date-column-head{
    width: 13.5%;
}
.date-column{
    width: 13.8%;
}
.patient-column-head {
    width: 9%;
}
.patient-column {
    width: 9.3%;
}

.concern-column-head {
    width: 13%;
}
.concern-column {
    width: 13.4%;
}

.status-column-head, .status-column {
    width: 5%;
}
.action-column-head{
    width: 12%;
}
.view-column, .profile-column{
    width: 5.9%;
}
.view-column, .profile-column{
    opacity: 70%;
    cursor: pointer;
}
.view-column:hover, .profile-column:hover{
    opacity: 100%;
    font-weight: 600;
}

.js_certificate_action{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    padding: 8px 6px;
    transition: all 0.3s ease;
}
.js_certificate_action:hover{
    background: black;
    color: white;
}

.bar-space{
    margin-top: 2rem;
    height: 60vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem;
    border-radius: 2rem;
    background: white;
    box-shadow: var( --box-shadow2);
}
.bar-btn-section{
    width: 50%;
    display: flex;
    gap: 4px;
    justify-content: space-between;
    align-self: center;
}
.bar-btn, .bar-btn-active{
    font-size: var(--size-sm);
    padding: 0.6rem 0;
    width: 8rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.bar-btn, .bar-btn-active{
    color: rgb(103, 103, 103);
    border: 1px solid rgba(255, 255, 255, 0);
}
.bar-btn-active{
    border: 1px solid var(--light_gray);
}
.bar-btn:hover{
    border:1px solid var(--light_gray);
}
.collected-btn{
    background: rgb(20, 20, 20);
    color: white;
}
.collected-btn:hover{
    background: rgb(66, 66, 66);
}
.ready-span{
    color: rgb(187, 122, 0);
}
.med-collected-span{
    color: green;
}
.no-act-span{
    color: gray;
}