main{
    margin-top: 1rem;
}
.modal-content{
    position: relative  ;
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    padding: 1rem 2rem;
    width: 33%;
    height: 35%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}
.modal-content h1{
    align-self: flex-start;
    font-size: var(--size-2xl);
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .modal-content form{
    display: flex;
    flex-direction: column;
}

.visit-history table{
    background-color: white;
    width: 98%;
    padding: 0.5rem 1.5rem;
    text-align: center;
    box-shadow: var(--box-shadow2);
    border-radius: 1rem;
    transition: all 0.3s ease;
    border-collapse: separate; /* Allows spacing between rows */
    border-spacing: 4px 0px;
}
.visit-history table:hover{
    box-shadow: var(--box-shadowlight);
}

.visit-history table tbody{
    display: block;
    max-height: 300px; /* Set the height of the tbody */
    overflow-y: auto; /* Enable scrolling for the tbody */
    border-spacing: 0 1rem;
    width: 100%;
}
.visit-history table thead{
    position: sticky;
}
.visit-history table tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* Ensures that cells align properly */
}

.header-content, .header-content2 {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.2rem 0;
}
.header-content{
    /* border: 1px solid rebeccapurple; */
    text-align: left;
    justify-content: space-between;
}
.header-content h1 {
    /* border: 1px solid orange; */
    font-size: var(--size-lg);
    color: var(--normal-fontcolor);
    font-weight: bold;
    margin-top: 1rem;
}
.sort-by {
    font-size: var(--size-sm);
    display: flex;
    align-items: center;
    font-weight: 400;
    color: var(--light_gray);
}
.sort-by select {
    padding: 0.3rem 0.2rem;
    font-size: var(--size-xs);
    border: none;
    border-radius: 5px;
    background-color: white;
}
.header-content2{
    justify-content: flex-end;
}
.header-content2 .add-record-btn{
    background: black;
    border-radius: 1rem;
    padding: 4px 1.5rem;
    color: white;
    font-size: var(--size-sm);
}
.header-content2 .add-record-btn:hover{
    background: rgba(0, 0, 0, 0.555);
}
.visit-history .table-head{
    color: var(--light_gray);
    font-weight: 500;
    /* border: 1px solid red; */
}
.visit-history .table-head, .visit-history .table-data{
    padding-right: 1rem;
    text-align: left;
}
.visit-history .table-data{
    font-size: var(--size-sm);
    /* border: 1px solid slateblue; */
}
/* Apply consistent column widths */
.date-column-head, .date-column{
    width: 13.5%;
}
.patient-column-head, .patient-column {
    width: 12%;
}

.concern-column-head, .concern-column {
    width: 15%;
}

.status-column-head, .status-column {
    width: 5%;
}
.action-column-head{
    width: 12%;
}
.view-column, .profile-column{
    width: 6%;
}
.view-column, .profile-column{
    opacity: 70%;
    cursor: pointer;
}
.view-column:hover, .profile-column:hover{
    opacity: 100%;
    font-weight: 600;
}
