main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}
.top-part{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    align-items: center;
}