{% extends 'base.html' %}
{% load cache %}
{% load static %}
{% load tags %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/modern-normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/clinic/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/patient/record.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utils.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
          rel="stylesheet" />
    <style>
    .hide {
      display: none;
    }
    .show {
      display: block;
    }
    </style>
{% endblock %}
{% block title %}Health Records | HealthHarmony{% endblock %}
{% block main %}
    {% include 'doctor/nav-top.html' %}
    <div class="doctor-profile-container">
        {% include 'patient/nav.html' %}
        <main>
            {% include 'messages.html' %}
            <div class="top-part">
                <div class="top-card ill-cat">
                    <h1>Your Usual Illness Categories</h1>
                    {% if illness_category %}
                        <div class="usual-page">
                            {% for category in illness_category %}
                                <div class="usual-cont">
                                    <h2>{{ category.category_name }}</h2>
                                    <h3>Number of Cases: {{ category.cases_count }}</h3>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <h3>No available data</h3>
                    {% endif %}
                </div>
                <div class="top-card med-cert">
                    <h1>Medical Certificates</h1>
                    <h3>
                        You have requested:
                        {% if certificates_data %}
                            {{ certificates_data.all }}
                        {% else %}
                            0
                        {% endif %}
                        times
                    </h3>
                    <h3>
                        Pending Request:
                        {% if certificates_data %}
                            {{ certificates_data.pending }}
                        {% else %}
                            0
                        {% endif %}
                    </h3>
                    <h3>
                        Completed Request:
                        {% if certificates_data %}
                            {{ certificates_data.completed }}
                        {% else %}
                            0
                        {% endif %}
                    </h3>
                    <button class="js_request_medcert_btn req-btn">Request Medical Certificate</button>
                </div>
            </div>
            <div class="bottom-part">
                <div class="recent-illness">
                    <h1>Recent Illness</h1>
                    <div class="recent-cont">
                        <ul>
                            {% for illness in illnesses %}
                                <li>
                                    <div class="visible">
                                        <div class="recent-top">
                                            <h2>
                                                {{ illness.issue }} 
                                            </h2>
                                            <span class="js_dates">{{ illness.added }}</span>
                                        </div>
                                        {% if illness.treatment %}
                                            <div class="hide js_details_space"></div>
                                            <div class="js_illness_buttons" illness-id="{{ illness.id }}">
                                                <button class="js_show_illness_details" data-illness-id="{{ illness.id }}">View More <span class="material-symbols-outlined">
                                                    keyboard_arrow_down
                                                    </span></button>
                                            </div>
                                        {% else %}
                                            <div class="js_illness_buttons" illness-id="{{ illness.id }}"></div>
                                        {% endif %}
                                    </div>
                                </li>
                            {% empty %}
                                <li>No illnesses found.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="for-the-request">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="3" class="med-header">Your Medical Certificate History </th>
                            </tr>
                            <tr>
                                <th class="table-head purp-head">Purpose</th>
                                <th class="table-head date-head">Date Requested</th>
                                <th class="table-head status-head">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for certificate in certificate_data %}
                                <tr>
                                    <td class="table-data purp-data">{{ certificate.purpose|truncatechars:60 }}</td>
                                    <td class="table-data js_dates date-data">{{ certificate.requested }}</td>
                                    {% if not certificate.is_ready and not certificate.released %}
                                        <td class="table-data NA status-data">Request to be processed</td>
                                    {% elif certificate.is_ready and not certificate.released %}
                                        <td class="table-data pending-span status-data">Ready, waiting to be collected</td>
                                    {% elif certificate.is_ready and certificate.released %}
                                        <td class="table-data complete-span status-data">Medical certificate was collected</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
    <div class="js_request_medcert_modal modal">
        <div class="modal-content">
            <span class="material-symbols-outlined close js_close_medcert_modal">cancel</span>
            <form action="{% url 'post_create_certificate_request' %}" method="POST">
                {% csrf_token %}
                <label for="">Why are you requesting a medical certificate?</label>
                <textarea name="purpose" id="" placeholder="Type your reason here..." required></textarea>
                <div class="form-buttons">
                    <button class="form-button" type="submit">Issue a Request</button>
                    <button class="js_close_medcert_modal cancel-button" type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal js_view_notes_modal">
        <div class="modal-content">
            <span class="material-symbols-outlined close js_close_btn">cancel</span>
            <div class="js_view_notes_body"></div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ illnesses|json_script:'illness_data' }}
    {{ notes_data|json_script:'notes_data' }}
    {{ treatments|json_script:'treatment_data' }}
    {{ illness_category|json_script:'illness_category' }}
    {{ certificate_data|json_script:'certificate_data' }}
    <script type="module" src="{% static 'js/dist/patient_record.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
          const toggleButton = document.querySelector('.header_hamburger') // Assuming the logo is used as the toggle button
          const sidebar = document.querySelector('.sidebar-container')
    
          // Toggle sidebar visibility when the toggle button is clicked
          toggleButton.addEventListener('click', function () {
            if (sidebar.classList.contains('open')) {
              sidebar.classList.remove('open') // Hide the sidebar
            } else {
              sidebar.classList.add('open') // Show the sidebar
            }
          })
    
          // Optional: Close sidebar when clicking outside
          document.addEventListener('click', function (event) {
            if (!sidebar.contains(event.target) && !toggleButton.contains(event.target)) {
              sidebar.classList.remove('open') // Hide the sidebar if clicked outside
            }
          })
        })
        </script>
{% endblock %}
