
table{
    margin-top: 1rem;
    background-color: white;
    width: 93%;
    padding: 0.5rem 1.5rem;
    text-align: center;
    box-shadow: var(--box-shadow2);
    border-radius: 1rem;
    transition: all 0.3s ease;
    border-collapse: separate; /* Allows spacing between rows */
    border-spacing: 4px 4px;
}
table tbody{
    display: block;
    overflow-y: auto;
    max-height: 380px;
    width: 100%;
}
table thead{
    position: sticky;
}
table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.table-head, .table-data{
    padding-right: 1rem;
}
.review-data{
    color: var(--light_gray);
    transition: all 0.3s ease;
    cursor: pointer;
}
.review-data:hover{
    color: black;
    font-weight: 600;
}
/* RIGHT-PART */

.doctor-right-part{
    width: 93%;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}
.most-illness-categories, .most-cases-per-department{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 1rem;
    padding: 1rem 1rem;
    border-radius: 2rem;
    background: white;
    box-shadow: var( --box-shadow2);
    transition: all 0.3s ease;
}
.most-illness-categories h1, .most-cases-per-department h1{
    font-size: var(--size-lg);
    align-self: flex-start;
}
.canvas-cont{
    width: 80%;
}
.most-illness-categories:hover, table:hover, .most-cases-per-department:hover{
    box-shadow: var(--box-shadowlight); 
}
.most-illness-categories h3{
    margin-top: 0.5rem;
}
.pagination-design{
    margin-bottom: 1rem;
}
.mod-table{
    margin-bottom: 1rem;
}

.name-head, .name-data{
    width: 18%;
}
.issue-head, .issue-data{
    width: 25%;
}
.status-head, .status-data{
    width:13%
}
.action-head{
    width: 13%;
}
.action-data{
    width: 12%;
}