main{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
table{
    margin-top: 1rem;
    background-color: white;
    width: 98%;
    padding: 0.5rem 1.5rem;
    text-align: center;
    box-shadow: var(--box-shadow2);
    border-radius: 1rem;
    transition: all 0.3s ease;
    border-collapse: separate; /* Allows spacing between rows */
    border-spacing: 4px 4px;
}
table tbody{
    display: block;
    overflow-y: auto;
    max-height: 300px;
    width: 100%;
}
table thead{
    position: sticky;
}
table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.table-head, .table-data{
    padding-right: 1rem;
}
.name-column-head, .name-column {
    width: 16%;
}

.issue-column-head, .issue-column {
    width: 20%;
}

.status-column-head, .status-column {
    width: 10%;
}
.view-column-head{
    width: 10%;
}
.view-column{
    width: 8.5%;
    opacity: 70%;
    cursor: pointer;
}
.view-column:hover{
    opacity: 100%;
    font-weight: 600;
}
.lineChart{
    margin-bottom: 1rem;
}