main, .right-part-profile{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
a, span{
    text-decoration: none;
}
.patient-profile{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    background: white;
    box-shadow: var(--box-shadowlight);
    width: 32rem;   
    border-radius: 1rem;
}
.patient-profile img{
    width: 230px;    /* Adjust the size as needed */
  height: 230px;   /* Ensure it's a square */
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
  box-shadow: var(--box-shadowlight);
}
.patient-profile-name{
    font-size: var(--size-3xl);
    font-weight: 600;
}
.patient-profile-data{
    font-size: var(--size-lg);
    font-weight: 400;
    color: #97a1af;;
}

.vital-statistic{
    background: white;
    width: 32rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
    box-shadow: var(--box-shadowlight);
}
.vital-statistic h3, .detailed-info h3{
    font-size: var(--size-2xl);
    margin-bottom: 0.5rem;
    font-weight: 600;
}
.vital-data, .info-cont{
    display: flex;
    gap: 1rem;
}
.vital-left, .vital-right, .detailed-left, .detailed-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.vital-left span , .vital-right p, .detailed-left span, .detailed-right p{
    font-size: var(--size-lg);
}  
.vital-right p{
    color: #97a1af;
}
/* END OF MAIN */

/* START OF RIGHT SECTION */

.detailed-info{
    background-color: white;
    width: 45rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadowlight);
}
.detailed-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.detailed-top button{
    padding: 0.5rem 1rem;
    background:black;
    border-radius: 0.5rem;
    color: white;
    transition: all 0.3s ease ;
}
.detailed-top button:hover{
    background:rgba(0, 0, 0, 0.647);
}

.visit-history{
    background:white;
    width: 45rem;
    height: 18rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadowlight);
}