{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block title %}Accounts | HealthHarmony{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/modern-normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/clinic/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/admin/account.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utils.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
          rel="stylesheet" />
{% endblock %}
{% block main %}
    {% include 'doctor/nav-top.html' %}
    <div class="admin-container">
        {% include 'administrator/nav.html' %}
        <main>
            {% if messages|has_success_message %}
                <div class="pop-up-message pop-up-green js-messages">
                    {% for m in messages %}
                        {% if m.tags == 'success' %}<p>{{ m }}</p>{% endif %}
                    {% endfor %}
                    <span class="material-symbols-outlined close-pop-up js-close-messages">cancel</span>
                </div>
            {% endif %}
            {% if messages|has_error_message %}
                <div class="pop-up-message pop-up-red js-messages">
                    {% for m in messages %}
                        {% if m.tags == 'error' %}<p>{{ m }}</p>{% endif %}
                    {% endfor %}
                    <span class="material-symbols-outlined close-pop-up js-close-messages">cancel</span>
                </div>
            {% endif %}
            <div class="account-list-container">
                <h1>Account List</h1>
                <div class="account-header">
                    <button class="js_add_account_btn add-acc">Add Account</button>
                    <div>
                        <button class="js-account-filter js-account-filter-active cat-btn cat-btn-active"
                                data-filter="0">All</button>
                        <button class="js-account-filter cat-btn" data-filter="1">Patients</button>
                        <button class="js-account-filter cat-btn" data-filter="2">Staff</button>
                        <button class="js-account-filter cat-btn" data-filter="3">Doctors</button>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th class="table-head">Account Name</th>
                            <th class="table-head">Email</th>
                            <th class="table-head">Date Joined</th>
                            <th class="table-head">Access</th>
                            <th class="table-head">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="js_account_body">
                        {% if users %}
                            {% for user in users %}
                                <tr>
                                    <td class="table-data">{{ user.first_name }} {{ user.last_name }}</td>
                                    <td class="table-data">{{ user.email }}</td>
                                    <td class="table-data">{{ user.date_joined|date:'F j, Y' }} at {{ user.date_joined|date:'g:i A' }}</td>
                                    <td class="table-data">
                                        <div>
                                            <select name="access" class="js_change_access" data-user-id="{{ user.id }}">
                                                <option value="1" {% if user.access == 1 %}selected{% endif %}>Patient</option>
                                                <option value="2" {% if user.access == 2 %}selected{% endif %}>Staff</option>
                                                <option value="3" {% if user.access == 3 %}selected{% endif %}>Doctor</option>
                                                <option value="4" {% if user.access == 4 %}selected{% endif %}>Admin</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td class="table-data">
                                        <button class="js_delete_user" data-user-id="{{ user.id }}">Delete</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>No data available</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="pagination pagination-design">
                    <span class="step-links">
                        {% if users.has_previous %}
                            <a href="?page=1" class="js-links page-shortcut">&laquo; First</a>
                            <a class="js-links" href="?page={{ users.previous_page_number }}">
                                <div class="previous-next-page">
                                    <span class="material-symbols-outlined page-icon">arrow_back_ios</span> <span>Previous</span>
                                </div>
                            </a>
                        {% endif %}
                        <span class="current">Page {{ users.number }} of {{ users.paginator.num_pages }}.</span>
                        {% if users.has_next %}
                            <a class="js-links" href="?page={{ users.next_page_number }}">
                                <div class="previous-next-page">
                                    <span>Next</span> <span class="material-symbols-outlined page-icon">arrow_forward_ios</span>
                                </div>
                            </a>
                            <a class="js-links page-shortcut"
                               href="?page={{ users.paginator.num_pages }}">Last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </main>
    </div>
    <div id="js_add_account_modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="material-symbols-outlined close js_close_account_form">cancel</span>
            <form action="" method="POST" class="js_account_form">
                {% csrf_token %}
                <label for="">First Name</label>
                <input type="text" name="first_name" required />
                <label for="">Last Name</label>
                <input type="text" name="last_name" required />
                <label for="">Email</label>
                <input type="email" name="email" required />
                <label for="">Access Type</label>
                <select name="access" id="">
                    <option value="1">Patient</option>
                    <option value="2">Staff</option>
                    <option value="3">Doctor</option>
                    <option value="4">Admin</option>
                </select>
                <label for="">Department</label>
                <input class="last-inp"
                       type="text"
                       name="department"
                       list="department-list"
                       required />
                <datalist id="department-list">
                    {% if departments %}
                        {% for department in departments %}<option value="{{ department }}"></option>{% endfor %}
                    {% endif %}
                </datalist>
                <input type="hidden" id="department-id" />
                <div class="form-buttons">
                    <button class="form-button" type="submit">Add Account</button>
                    <button type="button" class="js_close_account_form cancel-button">Close</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal js_access_modal">
        <div class="modal-content form-modal">
            <span style="display: none;" class="close js_close_access_form">&times;</span>
            <form class="access-form" action="{% url "post_update_user_access" %}" method="POST">
                {% csrf_token %}
                <div class="js_access_form_body"></div>
                <div class="form-buttons">
                    <button class="form-button">Update Access</button>
                    <button type="button" class="js_close_access_form cancel-button">Close</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal js_delete_user_modal">
        <div class="modal-content">
            <form class="access-form" action="{% url "post_delete_user" %}" method="POST">
                {% csrf_token %}
                <div class="js_delete_user_form_body"></div>
                <div class="form-buttons">
                    <button class="form-button" type="submit">Delete</button>
                    <button type="button" class="js_close_delete_user_form cancel-button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    {% csrf_token %}
{% endblock %}
{% block script %}
    {{ user_data|json_script:'user_data' }}
    <script src="{% static 'js/dist/admin_account.js' %}" type="module"></script>
    <script src="{% static 'js/general/messages.js' %}" type="module"></script>
{% endblock %}
