{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block title %}Accounts | HealthHarmony{% endblock %}
{% block header %}
    <style>
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    </style>
{% endblock %}
{% block message %}
    {% if messages %}
        <div>
            {% for message in messages %}
                <div>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{% block main %}
    <div class="container">
        {% include 'administrator/nav.html' %}
        <div>
            <h1>Account Management</h1>
            <div class="account-list-container">
                <div class="account-header">
                    <h1>Account List</h1>
                    <button id="add-account-btn">Add Account</button>
                    <div>
                        <button class="js-account-filter js-account-filter-active" data-filter="0">All</button>
                        <button class="js-account-filter" data-filter="1">Patients</button>
                        <button class="js-account-filter" data-filter="2">Staff</button>
                        <button class="js-account-filter" data-filter="3">Doctors</button>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Account Name</th>
                            <th>Email</th>
                            <th>Date Joined</th>
                            <th>Access</th>
                        </tr>
                    </thead>
                    <tbody class="js_account_body">
                        {% if users %}
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.date_joined|date:'F j, Y' }} at {{ user.date_joined|date:'g:i A' }}</td>
                                    <td>
                                        <div>
                                            <select name="access" class="js_change_access" data-user-id="{{ user.id }}">
                                                <option value="1" {% if user.access == 1 %}selected{% endif %}>Patient</option>
                                                <option value="2" {% if user.access == 2 %}selected{% endif %}>Staff</option>
                                                <option value="3" {% if user.access == 3 %}selected{% endif %}>Doctor</option>
                                                <option value="4" {% if user.access == 4 %}selected{% endif %}>Admin</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>No data available</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="pagination pagination-design">
                    <span class="step-links">
                        {% if users.has_previous %}
                            <a href="?page=1" class="js-links">&laquo; First</a>
                            <a class="js-links" href="?page={{ users.previous_page_number }}">Previous</a>
                        {% endif %}
                        <span class="current">Page {{ users.number }} of {{ users.paginator.num_pages }}.</span>
                        {% if users.has_next %}
                            <a class="js-links" href="?page={{ users.next_page_number }}">Next</a>
                            <a class="js-links" href="?page={{ users.paginator.num_pages }}">Last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="add-account-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <form action="" method="POST">
                {% csrf_token %}
                <label for="">First Name:</label>
                <input type="text" name="first_name" required />
                <label for="">Last Name:</label>
                <input type="text" name="last_name" required />
                <label for="">Email:</label>
                <input type="email" name="email" required />
                <label for="">Access Type:</label>
                <select name="access" id="">
                    <option value="1">Patient</option>
                    <option value="2">Staff</option>
                    <option value="3">Doctor</option>
                    <option value="4">Admin</option>
                </select>
                <label for="">Department:</label>
                <input type="text" name="department" list="department-list" required />
                <datalist id="department-list">
                    {% if departments %}
                        {% for department in departments %}<option value="{{ department }}"></option>{% endfor %}
                    {% endif %}
                </datalist>
                <input type="hidden" id="department-id" />
                <button type="submit">Add Account</button>
            </form>
        </div>
    </div>
    <div class="modal js_access_modal">
        <div class="modal-content">
            <span class="close js_close_access_form">&times;</span>
            <form action="{% url "post_update_user_access" %}" method="POST">
                {% csrf_token %}
                <div class="js_access_form_body"></div>
                <button>Update Access</button>
                <button type="button" class="js_close_access_form">Close</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ user_data|json_script:'user_data' }}
    <script src="{% static 'js/administrator/account.js' %}" type="module"></script>
{% endblock %}
