{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="{% static 'css/modern-normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'css/register.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/utils.css' %}" />
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"
            rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
            rel="stylesheet" />

        <title>Health Harmony</title>
    </head>
    <body>
        {% load socialaccount %}
        {% if messages %}
            {% for message in messages %}{{ message }}{% endfor %}
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Create Account</h1>
            <div class="form-group">
                <label for="">First Name</label>
                <input type="text" name="first_name" />
            </div>
            <div class="form-group">
                <label for="">Last Name</label>
                <input type="text" name="last_name" />
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" name="email" />
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" name="password1" />
            </div>
            <div class="form-group">
                <label for="">Password Confirmation</label>
                <input type="password" name="password2" />
            </div>
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
                <div class="form-group form-bottom">
                    <h5>Have an account? <a href="{% url 'account_login' %}"> Sign in </a></h5>
                    <a href="{% provider_login_url 'google' %}?process=login">Register with Google</a>
                </div>
        </form>
        <div class="image-cont">
            <img src="{% static 'assets/images/svgs/loginillus.svg' %}" class="illus" />
        </div>
    </body>
</html>
