{% load static %}
<section class="bedSpace containers section">
  <!-- BED PART -->
  {% if beds %}
    <div class="beds">
      {% for bed in beds %}
        {% if bed.status == False %}
          <div class="bed-container" data-bed-id="{{ bed.id }}">
            <span class="span-green">Available</span>
            <img src="{% static 'assets/images/landing-page/available-bed.svg' %}" />
            <span class="span-lightgray">Bed {{ forloop.counter }}</span>
          </div>
        {% elif bed.status == True %}
          <div class="bed-container" data-bed-id="{{ bed.id }}">
            <span class="span-lightred">Occupied</span>
            <img src="{% static 'assets/images/landing-page/occupied-bed.svg' %}" />
            <span class="span-lightgray">Bed {{ forloop.counter }}</span>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <div class="beds2">
      <img src="{% static 'assets/images/landing-page/no-bed-illus.svg' %}" />
      <h1>There are no beds available</h1>
      <p>We apologize for the inconvenience</p>
    </div>
  {% endif %}

  <div class="bed-header">
    <h1 class="h1_hero">Bed Space</h1>
    <p>
      Observe, monitor, and identify if there are available clinic <span class="span-lightred">beds</span>
    </p>
  </div>
</section>
