{% load static %}
<header class="bed-space">
  <!-- BED PART -->
  <div class="beds">
    {% if beds %}
      {% for bed in beds %}
        {% if bed.status == False %}
          <div class="bed-container" data-bed-id="{{ bed.id }}">
            <span class="span-green">Available</span>
            <img src="{% static 'assets/images/landing-page/available-bed.svg' %}" />
            <span class="span-lightgray">Bed {{ forloop.counter }}</span>
          </div>
        {% elif bed.status == True %}
          <div class="bed-container" data-bed-id="{{ bed.id }}">
            <span class="span-lightred">Occupied</span>
            <img src="{% static 'assets/images/landing-page/occupied-bed.svg' %}" />
            <span class="span-lightgray">Bed {{ forloop.counter }}</span>
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <div class="bed-container">
        <span class="span-lightred">No available beds</span>
      </div>
    {% endif %}
  </div>
  <div class="bed-header">
    <h1>Bed Space</h1>
    <p>
      Observe, monitor, and identify if there are available clinic <span class="span-lightred">beds</span>
    </p>
  </div>
</header>
