{% load static %}
<section>
  <h1>Doctors and Nurses</h1>
  <div class="swiper mySwiper container">
    <div class="swiper-wrapper content">
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{% static 'assets/images/doctor-pics/Miko.jpg' %}" alt="" />
          </div>

          <div class="media-icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-github"></i>
          </div>

          <div class="name-profession">
            <span class="name">Miko Basilio</span>
            <span class="profession">UX/UI Desinger</span>
          </div>

          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>

          <div class="button">
            <button class="aboutMe">About Me</button>
            <button class="hireMe">Hire Me</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{% static 'assets/images/doctor-pics/charls.jpg' %}" alt="" />
          </div>

          <div class="media-icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-github"></i>
          </div>

          <div class="name-profession">
            <span class="name">Charles Bercasio</span>
            <span class="profession">Back-End Developer</span>
          </div>

          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>

          <div class="button">
            <button class="aboutMe">About Me</button>
            <button class="hireMe">Hire Me</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{% static 'assets/images/doctor-pics/tan.jpg' %}" alt="" />
          </div>

          <div class="media-icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-github"></i>
          </div>

          <div class="name-profession">
            <span class="name">Ethan Dwayne Baun</span>
            <span class="profession">Web Designer</span>
          </div>

          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>

          <div class="button">
            <button class="aboutMe">About Me</button>
            <button class="hireMe">Hire Me</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{% static 'assets/images/doctor-pics/tanya.jpg' %}" alt="" />
          </div>

          <div class="media-icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-github"></i>
          </div>

          <div class="name-profession">
            <span class="name">Tanya Bartocillo</span>
            <span class="profession">Manuscript</span>
          </div>

          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>

          <div class="button">
            <button class="aboutMe">About Me</button>
            <button class="hireMe">Hire Me</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{% static 'assets/images/doctor-pics/jl.jpg' %}" alt="" />
          </div>

          <div class="media-icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-github"></i>
          </div>

          <div class="name-profession">
            <span class="name">John Luis Bernarte</span>
            <span class="profession">Manuscript</span>
          </div>

          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>

          <div class="button">
            <button class="aboutMe">About Me</button>
            <button class="hireMe">Hire Me</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{% static 'assets/images/doctor-pics/habi.jpg' %}" alt="" />
          </div>

          <div class="media-icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-github"></i>
          </div>

          <div class="name-profession">
            <span class="name">Ivee Aquino</span>
            <span class="profession">Manuscript</span>
          </div>

          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>

          <div class="button">
            <button class="aboutMe">About Me</button>
            <button class="hireMe">Hire Me</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</section>
