{% load static %}
<section class="hero-section" id="Health_card">
  <h1>
    Streamline <span class="span-care">Care</span> Achieve
    <span class="span-wellbeing">Wellbeing</span>with
    <span class="span-health">Health</span>
    <span class="span-harmony">Harmony</span>
  </h1>
  <p>Imagine a world where your patients can schedule appointments online, and access their medical records with ease. Health Harmony helps a seamless patient experience, increasing satisfaction and loyalty while reducing administrative burdens.</p>
  <button class="View-med-rec btn-med-rec">View your Medical Record</button>
  <button class="req-med-rec">Request your Child's Record</button>
  <div class="hero-illustration">
    <img src="{% static 'assets/svgs/hero-illus.svg' %}" />
  </div>
</section>
