{% extends 'base.html' %}
{% load static %}
{% block title %}
  HealthHarmony
{% endblock %}
{% block header %}
  <!-- link for swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  <!-- Fontawesome CDN Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="icon" type="image/png" href="{% static 'assets/svgs/logotitle.svg' %}" />
  <link rel="stylesheet" href="{% static 'css/landing/index.css' %}" />
{% endblock %}
{% block main %}
  {% include 'navbar.html' %}
  {% include 'hero.html' %}
  {% include 'bed.html' %}
  {% include 'weather.html' %}
  {% include 'doctors.html' %}
  <header class="aboutUs">
    <div class="container-aboutUs">
      <h1>About us</h1>
      <p>Here at Health Harmony, we believe in empowering students to take an active role in their health and wellness journey. We understand the importance of efficient communication between students, parents, and healthcare professionals at school.</p>
    </div>
    <div class="mission-container">
      <h3>Mission</h3>
      <p>Our goal is to create a healthier school community by providing students with the resources they need to take charge of their well-being. We believe that accessible medical records combined with clear communication are key to fostering a positive approach to student health.</p>
    </div>
  </header>

  <img src="{% static 'assets/images/landing-page/line.svg' %}" />

  <footer class="contactUs">
    <h1>Contact</h1>
    <div class="contact-info">
      <a href="https://maps.app.goo.gl/HNc8SfR3dTgpyV3p8" target="_blank">
        <div class="location">
          <img src="{% static 'assets/images/landing-page/location.svg' %}" />
        </div>
      </a>
      <div class="right-info">
        <div class="email-info">
          <h3>Email</h3>
          <a href="#"><span>dhvsumainclinic@gdhvsu.edu.ph</span></a>
        </div>
        <div class="telephone-info">
          <h3>Telephone no.</h3>
          <span>000-0000-00</span>
        </div>
        <div class="social-info">
          <h3>Social</h3>
          <div class="social-logo">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
          </div>
        </div>
      </div>
    </div>
    <p>&copy; 2024 HealthHarmony. All rights reserved.</p>
  </footer>
{% endblock %}
{% block script %}
  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="{% static 'js/landingpage/swiper.js' %}"></script>
{% endblock %}
