<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../svgs/logotitle.svg">
    <title>Log in</title>
</head>
<body>
<section class="left-side">
  <img src="../svgs/logo.svg" class="logo">
  <span class="header">Hello there!</span>
  <span class="smalltext">Are you a clinic staff?</span>
      <span class="email">Email</span>
      <div class="input-container">
        <input type="text" placeholder="name@email.com">
      </div>
      <span class="pass">Password</span>
      <div class="input-container2">
        <input type="text" placeholder="******">
      </div>
      <button class="login">Log in</button>
</section>
<img src="../svgs/loginillus.svg" class="illus">

</body>
</html>