{% load static %}
<nav>
  <!-- TOP PART NAVIGATION BAR -->
  <a href="#"><img src="{% static 'assets/images/landing-page/logo/logo.svg' %}" class="nav-logo" /></a>
  <ul>
    <li>
      <a href="#">Medical Record</a>
    </li>
    <li>
      <a href="#">Bed Space</a>
    </li>
    <li>
      <a href="#">Weather Check</a>
    </li>
    <li>
      <a href="#">About us</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
  <button class="logout" onclick="window.location.href = '{% url 'account_login' %}'">LOG IN</button>
</nav>
