{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block title %}Patients and Accounts | HealthHarmony{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/modern-normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/clinic/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/clinic/accounts.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utils.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
          rel="stylesheet" />
{% endblock %}
{% block main %}
    {% include 'staff/nav-top.html' %}
    <div class="nurse-container2">
        {% include 'staff/navbar.html' %}
        {% csrf_token %}
        <main>
            {% if messages|has_success_message %}
                <div class="pop-up-message pop-up-green js-messages">
                    {% for m in messages %}
                        {% if m.tags == 'success' %}<p>{{ m }}</p>{% endif %}
                    {% endfor %}
                    <span class="material-symbols-outlined close-pop-up js-close-messages">cancel</span>
                </div>
            {% endif %}
            {% if messages|has_error_message %}
                <div class="pop-up-message pop-up-red js-messages">
                    {% for m in messages %}
                        {% if m.tags == 'error' %}<p>{{ m }}</p>{% endif %}
                    {% endfor %}
                    <span class="material-symbols-outlined close-pop-up js-close-messages">cancel</span>
                </div>
            {% endif %}
            <div class="total-bar">
                <div class="total-patient">
                    <table class="table-design total-patient-table">
                        {% if patients_page %}
                            <thead>
                                <tr>
                                    <th colspan="5">
                                        <div class="header-content">
                                            <h1 class="js-patient-count">Total Patients(0)</h1>
                                            <div class="search-main-container">
                                                <div class="search-container">
                                                    <input type="text"
                                                           class="js-patient-search-field"
                                                           id="search-field"
                                                           placeholder="Search..." />
                                                    <button class="js-patient-search-btn">
                                                        <span class="material-symbols-outlined">search</span>
                                                    </button>
                                                </div>
                                                <button class="clr-btn js-patient-clear-btn">Clear</button>
                                            </div>
                                            <div class="sort-by">
                                                <span>Sort By:</span>
                                                <select class="js-patient-filter-inputs">
                                                    <option value="">All</option>
                                                    <option value="department">Department</option>
                                                    <option value="name">Name</option>
                                                </select>
                                                <button class="js_patient_direction" data-sort="asc">
                                                    <span class="material-symbols-outlined">swap_vert</span>
                                                </button>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th class="table-head">Patient Name</th>
                                    <th class="table-head">Department</th>
                                    <th class="table-head">Last Visited</th>
                                </tr>
                            </thead>
                            <tbody class="js-patients-body">
                                {% for patient in patients_page %}
                                    <tr>
                                        <td class="table-data js-patient-profile patient-name"
                                            data-patient-id="{{ patient.id }}">
                                            {{ patient.first_name }} {{ patient.last_name }}
                                        </td>
                                        <td class="table-data js-department-names">{{ patient.department_name|default_if_none:'' }}</td>
                                        <td class="table-data js-dates">{{ patient.last_visit }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% else %}
                            <tr>
                                <td colspan="3">No patients</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td colspan="3">
                                {% if patients_page.has_other_pages %}
                                    <div class="pagination js-patients-pagination pagination-design">
                                        <span class="step-links">
                                            {% if patients_page.has_previous %}
                                                <a href="?patients-page=1"
                                                   class="js-links js-patient-links page-shortcut">First</a>
                                                <a href="?patients-page={{ patients_page.previous_page_number }}"
                                                   class="js-links js-patient-links">
                                                    <div class="previous-next-page">
                                                        <span class="material-symbols-outlined page-icon">arrow_back_ios</span> <span>Previous</span>
                                                    </div>
                                                </a>
                                            {% endif %}
                                            <span class="current">Page {{ patients_page.number }} of {{ patients_page.paginator.num_pages }}.</span>
                                            {% if patients_page.has_next %}
                                                <a href="?patients-page={{ patients_page.next_page_number }}"
                                                   class="js-links js-patient-links">
                                                    <div class="previous-next-page">
                                                        <span>Next</span> <span class="material-symbols-outlined page-icon">arrow_forward_ios</span>
                                                    </div>
                                                </a>
                                                <a href="?patients-page={{ patients_page.paginator.num_pages }}"
                                                   class="js-links js-patient-links page-shortcut">Last</a>
                                            {% endif %}
                                        </span>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="js-department-bar-graph dep-bar">
                    <h1>Department Bar</h1>
                    <div class="js-control-canvas-size">
                        <canvas id="js-department-bar-canvas"></canvas>
                    </div>
                </div>
            </div>
            <div>
                <table class="table-design">
                    <thead>
                        <tr>
                            <th colspan="6">
                                <div class="header-content">
                                    {{ departments.count }}
                                    <h1 class="js-department-count dept-h1">Total Departments({{ departments.count }})</h1>
                                    <div class="search-main-container">
                                        <div class="search-container">
                                            <input type="text"
                                                   class="js-department-search-container"
                                                   id="search-field"
                                                   placeholder="Search..." />
                                            <button class="js-department-search-btn">
                                                <span class="material-symbols-outlined">search</span>
                                            </button>
                                        </div>
                                        <button class="clr-btn js-department-clear-btn">Clear</button>
                                    </div>
                                    <div class="sort-by">
                                        <span>Sort By:</span>
                                        <select class="js-department-filter-inputs">
                                            <option value="">All</option>
                                            <option value="department">Department</option>
                                            <option value="users">Users</option>
                                        </select>
                                        <div class="js-patient-filters"></div>
                                        <button class="js_department_direction" data-sort="asc">
                                            <span class="material-symbols-outlined">swap_vert</span>
                                        </button>
                                        <!-- CHANGE INVENTORY CLASSES TO RECORD SA TAAS -->
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="6">
                                <div class="header-content2">
                                    <div class="add-department">
                                        <button class="js-add-department-btn">Create New Department</button>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="table-head">Department</th>
                            <th class="table-head">Number of Users</th>
                            <th class="table-head">Last Clinic Visit</th>
                            <th class="table-head" colspan="3">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="js_department_body">
                        {% for department in departments %}
                            <tr data-department-id="{{ department.id }}">
                                <td class="table-data">{{ department.department }}</td>
                                <td class="table-data js-department-counts">{{ department.count }}</td>
                                <td class="table-data js-dates">{{ department.last_department_visit }}</td>
                                <td class="table-data js-edit-department act-data">
                                    <span class="btn edit-btn">Edit</span>
                                </td>
                                <td class="table-data js-delete-department act-data">
                                    <span class="btn delete-btn-dept">Delete</span>
                                </td>
                                <td class="table-data js-view-department act-data">
                                    <span class="btn view-btn">View</span>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">No available department</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="js-employee-space last-table">
                <table class="table-design">
                    <thead>
                        <tr>
                            <th colspan="5">
                                <div class="header-content">
                                    <h1 class="js-patient-count">Clinic Employees</h1>
                                    <div class="search-main-container">
                                        <div class="search-container">
                                            <input type="text"
                                                   class="js-employee-search-field"
                                                   id="search-field"
                                                   placeholder="Search..." />
                                            <button class="js-employee-search-btn">
                                                <span class="material-symbols-outlined">search</span>
                                            </button>
                                        </div>
                                        <button class="clr-btn js-employee-clear-btn">Clear</button>
                                    </div>
                                    <div class="sort-by">
                                        <span>Sort By:</span>
                                        <select class="js-employee-filters">
                                            <option value="">All</option>
                                            <option value="2">Staff</option>
                                            <option value="3">Doctors</option>
                                        </select>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="table-head">Employee Name</th>
                            <th class="table-head">Access Level</th>
                            <th class="table-head">Time Since Last Case Handled</th>
                            <th class="table-head">Number of Cases Handled</th>
                        </tr>
                    </thead>
                    <tbody class="js-employee-body">
                        <tr>
                            <td class="table-data">Lorem ipsum dolor sit amet.</td>
                            <td class="table-data">Lorem ipsum dolor sit amet.</td>
                            <td class="table-data">Lorem ipsum dolor sit.</td>
                            <td class="table-data">Lorem, ipsum dolor.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <!--            TO MIKO
            LAGAY MO ICON SA TABI NG INPUT SA ADD DEP
             AYUSIN MO VIEW DEPARTMENT
                   -->
        <div class="js-add-department-modal modal">
            <div class="modal-content">
                <h1>Add a Department</h1>
                <form action="{% url 'staff-accounts-add-department' %}"
                      class="form-body"
                      method="post">
                    {% csrf_token %}
                    <input type="text" required name="department_name" />
                    <div class="form-buttons">
                        <button class="form-button" type="submit">Confirm</button>
                        <button class="js-close-add-department-modal cancel-button">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="js-delete-department-modal modal">
            <div class="modal-content delete-modal">
                <form action="" method="post" class="form-body">
                    {% csrf_token %}
                </form>
            </div>
        </div>
        <div class="js-edit-department-modal modal">
            <div class="modal-content">
                <form action="" class="form-body" method="post">
                </form>
            </div>
        </div>
        <div class="js-view-department-modal modal">
            <div class="modal-content view-modal"></div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ patients|json_script:'patientData' }}
    {{ departmentData|json_script:'departmentData' }}
    {{ employeeData|json_script:'employeeData' }}
    {{ static_path|json_script:'static_path' }}
    {{ media_path|json_script:'media_path' }}
    <script src="{% static 'chart.js/dist/chart.umd.js' %}"></script>
    <script src="{% static 'chartjs-plugin-zoom/dist/chartjs-plugin-zoom.min.js' %}"></script>
    <script type="module" src="{% static 'js/dist/staff_account.js' %}"></script>
{% endblock %}
