{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block title %}Patients and Accounts | HealthHarmony{% endblock %}
{% block header %}
    <style>
    .bordered {
      border: 2px solid red;
    }

    img {
      width: 100px;
      height: 100px;
    }
    </style>
{% endblock %}
{% block message %}
    {% if messages|has_error_message %}
        {% for message in messages %}
            {% if message.tags == 'error' %}<p>{{ message }}</p>{% endif %}
        {% endfor %}
    {% endif %}
    {% if messages|has_success_message %}
        {% for message in messages %}
            {% if message.tags == 'successs' %}<p>{{ message }}</p>{% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
{% block main %}
    <div class="container">
        {% include 'staff/navbar.html' %}
        <div>
            <h1 class="js-patient-count">All Patients(0)</h1>
            <table>
                <span>Filter</span>
                <select class="js-patient-filter-inputs">
                    <option value="">All</option>
                    <option value="department">Department</option>
                    <option value="name">Name</option>
                </select>
                <div class="js-patient-filters"></div>
                <input type="text" class="js-patient-search-field" />
                <button class="js-patient-search-btn">Search</button>
                {% if patients_page %}
                    <thead>
                        <tr>
                            <th>Patient Name</th>
                            <th>Department</th>
                            <th>Last Visited</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patient in patients_page %}
                            <tr>
                                <td class="js-patient-profile" data-patient-id="{{ patient.id }}">{{ patient.first_name }} {{ patient.last_name }}</td>
                                <td>{{ patient.department_name }}</td>
                                <td class="js-dates">{{ patient.last_visit }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                {% else %}
                    <tr>
                        <td colspan="2">No patients</td>
                    </tr>
                {% endif %}
            </table>
            {% if patients_page.has_other_pages %}
                <div class="pagination js-patients-pagination">
                    <span class="step-links">
                        {% if patients_page.has_previous %}
                            <a href="?patients-page=1" class="js-links">&laquo; First</a>
                            <a href="?patients-page={{ patients_page.previous_page_number }}"
                               class="js-links">Previous</a>
                        {% endif %}
                        <span class="current">Page {{ patients_page.number }} of {{ patients_page.paginator.num_pages }}.</span>
                        {% if patients_page.has_next %}
                            <a href="?patients-page={{ patients_page.next_page_number }}"
                               class="js-links">Next</a>
                            <a href="?patients-page={{ patients_page.paginator.num_pages }}"
                               class="js-links">Last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ patients|json_script:'patientData' }}
    <script type="module" src="{% static 'js/staff/account.js' %}"></script>
{% endblock %}
