{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block title %}Patients and Accounts | HealthHarmony{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/modern-normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/clinic/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/clinic/accounts.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utils.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
          rel="stylesheet" />
    <style>
    .bordered {
      border: 2px solid red;
    }

    img {
      width: 100px;
      height: 100px;
    }

    .btn {
      cursor: pointer;
    }

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    </style>
{% endblock %}
{% block message %}
    {% if messages|has_error_message %}
        {% for message in messages %}
            {% if message.tags == 'error' %}<p>{{ message }}</p>{% endif %}
        {% endfor %}
    {% endif %}
    {% if messages|has_success_message %}
        {% for message in messages %}
            {% if message.tags == 'success' %}<p>{{ message }}</p>{% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
{% block main %}
    {% include 'staff/nav-top.html' %}
    <div class="nurse-container2">
        {% include 'staff/navbar.html' %}
        {% csrf_token %}
        <main>
            <div>
                <table class="table-design">
                    {% if patients_page %}
                        <thead>
                            <tr>
                                <th colspan="5">
                                    <div class="header-content">
                                        <h1 class="js-patient-count">All Patients(0)</h1>
                                        <div class="search-main-container">
                                            <div class="search-container">
                                                <input type="text"
                                                       class="js-patient-search-field"
                                                       id="search-field"
                                                       placeholder="Search..." />
                                                <button class="js-patient-search-btn">
                                                    <span class="material-symbols-outlined">search</span>
                                                </button>
                                            </div>
                                            <button class="clr-btn js-patient-clear-btn">Clear</button>
                                        </div>
                                        <div class="sort-by">
                                            <span>Sort By:</span>
                                            <select class="js-patient-filter-inputs">
                                                <option value="">All</option>
                                                <option value="department">Department</option>
                                                <option value="name">Name</option>
                                            </select>
                                            <button class="js_patient_direction" data-sort="asc">
                                                <span class="material-symbols-outlined">swap_vert</span>
                                            </button>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class="table-head">Patient Name</th>
                                <th class="table-head">Department</th>
                                <th class="table-head">Last Visited</th>
                            </tr>
                        </thead>
                        <tbody class="js-patients-body">
                            {% for patient in patients_page %}
                                <tr>
                                    <td class="table-data js-patient-profile"
                                        data-patient-id="{{ patient.id }}">
                                        {{ patient.first_name }} {{ patient.last_name }}
                                    </td>
                                    <td class="table-data js-department-names">{{ patient.department_name|default_if_none:'' }}</td>
                                    <td class="table-data js-dates">{{ patient.last_visit }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% else %}
                        <tr>
                            <td colspan="3">No patients</td>
                        </tr>
                    {% endif %}
                </table>
                {% if patients_page.has_other_pages %}
                    <div class="pagination js-patients-pagination">
                        <span class="step-links">
                            {% if patients_page.has_previous %}
                                <a href="?patients-page=1" class="js-links js-patient-links">&laquo; First</a>
                                <a href="?patients-page={{ patients_page.previous_page_number }}"
                                   class="js-links js-patient-links">Previous</a>
                            {% endif %}
                            <span class="current">Page {{ patients_page.number }} of {{ patients_page.paginator.num_pages }}.</span>
                            {% if patients_page.has_next %}
                                <a href="?patients-page={{ patients_page.next_page_number }}"
                                   class="js-links js-patient-links">Next</a>
                                <a href="?patients-page={{ patients_page.paginator.num_pages }}"
                                   class="js-links js-patient-links">Last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            </div>
            <div>
                <table class="table-design">
                    <thead>
                        <tr>
                            <th colspan="6">
                                <div class="header-content">
                                    <h1 class="js-patient-count dept-h1">Departments({{ departments.count }})</h1>
                                    <div class="search-main-container">
                                        <div class="search-container">
                                            <input type="text"
                                                   class="js-inventory-search-container"
                                                   id="search-field"
                                                   placeholder="Search..." />
                                            <button class="js-patient-search-btn">
                                                <span class="material-symbols-outlined">search</span>
                                            </button>
                                        </div>
                                        <button class="clr-btn js-patient-clear-btn">Clear</button>
                                    </div>
                                    <div class="sort-by">
                                        <span>Sort By:</span>
                                        <select id="js-patient-filter-inputs" class="js-inventory-sort-select">
                                            <option value="">All</option>
                                            <option value="department">Department</option>
                                            <option value="name">Name</option>
                                        </select>
                                        <div class="js-patient-filters"></div>
                                        <button class="js-inventory-direction" data-sort="asc">
                                            <span class="material-symbols-outlined">swap_vert</span>
                                        </button>
                                        <!-- CHANGE INVENTORY CLASSES TO RECORD SA TAAS -->
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="6">
                                <div class="header-content2">
                                    <div class="add-department">
                                        <button class="js-add-department-btn">Create New Department</button>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="table-head">Department</th>
                            <th class="table-head">Number of Users</th>
                            <th class="table-head">Last Clinic Visit</th>
                            <th class="table-head" colspan="3">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for department in departments %}
                            <tr data-department-id="{{ department.id }}">
                                <td class="table-data">{{ department.department }}</td>
                                <td class="table-data js-department-counts">{{ department.count }}</td>
                                <td class="table-data js-dates">{{ department.last_department_visit }}</td>
                                <td class="table-data js-edit-department btn">Edit</td>
                                <td class="table-data js-delete-department btn">Delete</td>
                                <td class="table-data js-view-department btn">View</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">No available department</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="js-department-bar-graph">
                    <div class="js-control-canvas-size">
                        <canvas id="js-department-bar-canvas"></canvas>
                    </div>
                </div>
            </div>
            <div class="js-employee-space last-table">
                <table class="table-design">
                    <thead>
                        <tr>
                            <th colspan="5">
                                <div class="header-content">
                                    <h1 class="js-patient-count">Clinic Employees</h1>
                                    <div class="search-main-container">
                                        <div class="search-container">
                                            <input type="text"
                                                   class="js-employee-search-field"
                                                   id="search-field"
                                                   placeholder="Search..." />
                                            <button class="js-employee-search-btn">
                                                <span class="material-symbols-outlined">search</span>
                                            </button>
                                        </div>
                                        <button class="clr-btn js-employee-clear-btn">Clear</button>
                                    </div>
                                    <div class="sort-by">
                                        <span>Sort By:</span>
                                        <select class="js-employee-filters">
                                            <option value="">All</option>
                                            <option value="2">Staff</option>
                                            <option value="3">Doctors</option>
                                        </select>
                                        <div class="js-patient-filters"></div>
                                        <button class="js-inventory-direction" data-sort="asc">
                                            <span class="material-symbols-outlined">swap_vert</span>
                                        </button>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="table-head">Employee Name</th>
                            <th class="table-head">Access Level</th>
                            <th class="table-head">Time Since Last Case Handled</th>
                            <th class="table-head">Number of Cases Handled</th>
                        </tr>
                    </thead>
                    <tbody class="js-employee-body">
                        <tr>
                            <td class="table-data">Lorem ipsum dolor sit amet.</td>
                            <td class="table-data">Lorem ipsum dolor sit amet.</td>
                            <td class="table-data">Lorem ipsum dolor sit.</td>
                            <td class="table-data">Lorem, ipsum dolor.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <div class="js-add-department-modal modal">
            <div class="modal-content">
                <span class="js-close-add-department-modal">&times;</span>
                <form action="{% url 'staff-accounts-add-department' %}"
                      class="form-body"
                      method="post">
                    {% csrf_token %}
                    <input type="text" required name="department_name" />
                    <button type="submit">Add</button>
                    <button class="js-close-add-department-modal">Cancel</button>
                </form>
            </div>
        </div>
        <div class="js-delete-department-modal modal">
            <div class="modal-content">
                <span class="js-close-delete-department-modal">&times;</span>
                <form action="" method="post" class="form-body">
                    {% csrf_token %}
                </form>
            </div>
        </div>
        <div class="js-edit-department-modal modal">
            <div class="modal-content">
                <span class="js-close-edit-department-modal">&times;</span>
                <form action="" class="form-body" method="post">
                </form>
            </div>
        </div>
        <div class="js-view-department-modal modal">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ patients|json_script:'patientData' }}
    {{ departmentData|json_script:'departmentData' }}
    {{ employeeData|json_script:'employeeData' }}
    <script src="{% static 'chart.js/dist/chart.umd.js' %}"></script>
    <script type="module" src="{% static 'js/staff/account.js' %}"></script>
{% endblock %}
