{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block title %}Bed Monitor | HealthHarmony{% endblock %}
{% block header %}

    <link rel="stylesheet" href="{% static 'css/modern-normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/clinic/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/clinic/action.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'css/clinic/overview.css' %}" /> -->
    <link rel="stylesheet" href="{% static 'css/utils.css' %}" />

    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
          rel="stylesheet" />

{% endblock %}
{% block message %}
    {% if messages|has_error_message %}
        <div class="error">
            <h2>Sorry, data was unavailable. Please reload the page.</h2>
        </div>
    {% endif %}
{% endblock %}
{% block main %}

    <div class="nav-top">
        <h2>Actions</h2>
        <div class="profile-container">
            <img src="{% static 'assets/images/doctor-pics/Miko.jpg' %}" alt="Profile Picture" class="profile-pic" />
            <div class="profile-info">
                <h3>Miko Basilio</h3>
                <span>Nurse</span>
            </div>
            <a href="{% url 'logout' %}">
                <div class="logout-container">
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                </div>
            </a>
        </div>
    </div>

    <div class="nurse-container2">
        {% include 'staff/navbar.html' %}
        <!-- MAIN CONTENT -->
        <main>
            
            <div class="container swiper">
                <div class="slider-wrapper">
                    <div class="card-list swiper-wrapper">
                        <div class="card-item swiper-slide">
                            <img class="media-content" src="{% static 'assets/images/doctor-pics/charls.jpg' %}" alt="">
                            <h2 class="card-title">Lana Del Rey is the Goat</h2>
                            <div class="content-wrapper">
                                <p class="content">
                                    Lana Del Rey is often hailed as one of the greatest of all time (GOAT) in modern music for her unique ability to blend vintage aesthetics with contemporary themes, creating a sound and image that's both timeless and fresh. Her deeply emotive lyrics, cinematic production, and hauntingly beautiful voice resonate with a wide audience, capturing the essence of love, loss, and nostalgia in a way few artists can. Her influence on pop culture is undeniable, making her a defining figure in music for this generation.
                                </p>
                            </div>
                            <span class="see-more">See More</span>
                            <div class="card-bottom">
                                <div class="card-profile">
                                    <div class="dp-container"><img src="{% static 'assets/images/doctor-pics/charls.jpg' %}" alt=""></div>
                                    <div class="card-profile-info">
                                        <h5>Miko Basilio</h5>
                                        <span class="span-lightgray">01/23/24 07:32am</span>
                                    </div>
                                </div>
        
                                <div class="card-buttons">
                                    <a href=""><span class="material-symbols-outlined edit-btn">edit</span></a>
                                    <a href=""><span class="material-symbols-outlined delete-btn">delete</span></a>
                                </div>           
                            </div>
                        </div>
        
                        <div class="card-item swiper-slide">
                            <img class="media-content" src="{% static 'assets/images/doctor-pics/charls.jpg' %}" alt="">
                            <h2 class="card-title">Joji is Peak</h2>
                            <div class="content-wrapper">
                                <p class="content">
                                    Joji is considered as PEAK in modern music for his ability to seamlessly blend genres like lo-fi, R&B, and alternative pop, creating a sound that is both unique and deeply emotional. His introspective lyrics and haunting melodies resonate with listeners, capturing the complexities of love, loss, and self-discovery. Joji's transition from a viral internet personality to a respected artist is a testament to his versatility and talent, making him a defining figure in contemporary music.
                                </p>
                            </div>
                            <span class="see-more">See More</span>
                            <div class="card-bottom">
                                <div class="card-profile">
                                    <div class="dp-container"><img src="{% static 'assets/images/doctor-pics/charls.jpg' %}" alt=""></div>
                                    <div class="card-profile-info">
                                        <h5>Charles Berc</h5>
                                        <span class="span-lightgray">01/23/24 07:32am</span>
                                    </div>
                                </div>
        
                                <div class="card-buttons">
                                    <a href=""><span class="material-symbols-outlined edit-btn">edit</span></a>
                                    <a href=""><span class="material-symbols-outlined delete-btn">delete</span></a>
                                </div>           
                            </div>
                        </div>
        
                        <div class="card-item swiper-slide">
                            <img class="media-content" src="{% static 'assets/images/doctor-pics/charls.jpg' %}" alt="">
                            <h2 class="card-title">Rex Orange County is my iskibidi </h2>
                            <div class="content-wrapper">
                                <p class="content">
                                    Rex Orange County is my "skibidi" because his music brings a sense of joy, comfort, and connection that feels uniquely personal. Just like a catchy tune that sticks with you, his songs have a way of resonating with your experiences and emotions, making them a go-to soundtrack for your life. Whether you're feeling up or down, Rex Orange County's music has a vibe that speaks directly to your heart, making him an irreplaceable part of your musical journey.
                                </p>
                            </div>
                            <span class="see-more">See More</span>
                            <div class="card-bottom">
                                <div class="card-profile">
                                    <div class="dp-container"><img src="{% static 'assets/images/doctor-pics/charls.jpg' %}" alt=""></div>
                                    <div class="card-profile-info">
                                        <h5>Charles Berc</h5>
                                        <span class="span-lightgray">01/23/24 07:32am</span>
                                    </div>
                                </div>
        
                                <div class="card-buttons">
                                    <a href=""><span class="material-symbols-outlined edit-btn">edit</span></a>
                                    <a href=""><span class="material-symbols-outlined delete-btn">delete</span></a>
                                </div>           
                            </div>
                        </div>
        
                        <div class="card-item swiper-slide">
                            <img class="media-content" src="{% static 'assets/images/doctor-pics/charls.jpg' %}" alt="">
                            <h2 class="card-title">Radiohead </h2>
                            <div class="content-wrapper">
                                <p class="content">
                                    Radiohead because his music brings a sense of joy, comfort, and connection that feels uniquely personal. Just like a catchy tune that sticks with you, his songs have a way of resonating with your experiences and emotions, making them a go-to soundtrack for your life. Whether you're feeling up or down, Rex Orange County's music has a vibe that speaks directly to your heart, making him an irreplaceable part of your musical journey.
                                </p>
                            </div>
                            <span class="see-more">See More</span>
                            <div class="card-bottom">
                                <div class="card-profile">
                                    <div class="dp-container"><img src="{% static 'assets/images/doctor-pics/charls.jpg' %}" alt=""></div>
                                    <div class="card-profile-info">
                                        <h5>Miko Basilio</h5>
                                        <span class="span-lightgray">01/23/24 07:32am</span>
                                    </div>
                                </div>
        
                                <div class="card-buttons">
                                    <a href=""><span class="material-symbols-outlined edit-btn">edit</span></a>
                                    <a href=""><span class="material-symbols-outlined delete-btn">delete</span></a>
                                </div>           
                            </div>
                        </div>
        
                        <div class="card-item swiper-slide">
                            <img class="media-content" src="{% static 'assets/images/doctor-pics/charls.jpg' %}" alt="">
                            <h2 class="card-title">my Beabadoobee</h2>
                            <div class="content-wrapper">
                                <p class="content">
                                    She is my wife.
                                </p>
                            </div>
                            <span class="see-more">See More</span>
                            <div class="card-bottom">
                                <div class="card-profile">
                                    <div class="dp-container"><img src="{% static 'assets/images/doctor-pics/charls.jpg' %}" alt=""></div>
                                    <div class="card-profile-info">
                                        <h5>Miko Basilio</h5>
                                        <span class="span-lightgray">01/23/24 07:32am</span>
                                    </div>
                                </div>
        
                                <div class="card-buttons">
                                    <a href=""><span class="material-symbols-outlined edit-btn">edit</span></a>
                                    <a href=""><span class="material-symbols-outlined delete-btn">delete</span></a>
                                </div>           
                            </div>
                        </div>
        
                        <div class="card-item swiper-slide">
                            <img class="media-content" src="{% static 'assets/images/doctor-pics/charls.jpg' %}" alt="">
                            <h2 class="card-title">Drake</h2>
                            <div class="content-wrapper">
                                <p class="content">
                                    He like em young.
                                </p>
                            </div>
                            <span class="see-more">See More</span>
                            <div class="card-bottom">
                                <div class="card-profile">
                                    <div class="dp-container"><img src="{% static 'assets/images/doctor-pics/charls.jpg' %}" alt=""></div>
                                    <div class="card-profile-info">
                                        <h5>Kendrick Lamar</h5>
                                        <span class="span-lightgray">01/23/24 07:32am</span>
                                    </div>
                                </div>
        
                                <div class="card-buttons">
                                    <a href=""><span class="material-symbols-outlined edit-btn">edit</span></a>
                                    <a href=""><span class="material-symbols-outlined delete-btn">delete</span></a>
                                </div>           
                            </div>
                        </div>
        
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiperBtn swiper-button-prev"></div>
                    <div class="swiperBtn swiper-button-next"></div>
                </div>
            </div>


            <div>
                {% if beds %}
                    {% for bed in beds %}
                        <form action="{% url 'staff-bed-handler' bed.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="status" value="{{ bed.status }}" />
                            <h4>Bed {{ forloop.counter }}</h4>
                            <button type="submit">
                                {% if bed.status == True %}
                                    Occupied
                                {% else %}
                                    Available
                                {% endif %}
                            </button>
                        </form>
                    {% endfor %}
                {% endif %}
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'js/seemore.js' %}"></script>
    <script src="{% static 'js/post-slider.js' %}"></script>
{% endblock %}
{% block script %}{% endblock %}
