{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block title %}Bed Monitor | HealthHarmony{% endblock %}
{% block header %}{% endblock %}
{% block message %}
    {% if messages|has_error_message %}
        <div class="error">
            {% for message in messages %}
                {% if message.tags == 'error' %}<p>{{ message }}</p>{% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% if messages|has_success_message %}
        <div class="success">
            {% for message in messages %}
                {% if message.tags == 'success' %}<p>{{ message }}</p>{% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{% block main %}
    <div class="container">
        {% include 'staff/navbar.html' %}
        <div>
            <h3>Bed Monitor</h3>
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit">Add New Bed</button>
            </form>
            {% if beds %}
                {% for bed in beds %}
                    <form action="{% url 'staff-bed-handler' bed.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="status" value="{{ bed.status }}" />
                        <h4>Bed {{ forloop.counter }}</h4>
                        <button type="submit">
                            {% if bed.status == True %}
                                Occupied
                            {% else %}
                                Available
                            {% endif %}
                        </button>
                    </form>
                {% empty %}
                {% endfor %}
            {% else %}
                <h5>No bed available</h5>
            {% endif %}
        </div>
        <div>
            <h5>All Patients</h5>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/staff/features.js' %}" type="module"></script>
{% endblock %}
