{% load static %}
<div class="right-part">
    {% include 'staff/profile-right.html' %}
    <div class="right">
        <div class="top">
            <div>
                <h2>Inventory Chart</h2>
            </div>
            <div>
                <h4>Medicines</h4>
            </div>
            <div>
                <h4>Supply</h4>
            </div>
        </div>
        <div>
            <div>
                <canvas id="inventory-chart"></canvas>
            </div>
        </div>
    </div>
    <div class="right">
        <div>
            <h4>Trends</h4>
            <div>
                <button class="js-seasonal-bar-filter js-seasonal-bar-filter-active"
                        data-filter="weekly">7 Days</button>
                <button class="js-seasonal-bar-filter" data-filter="monthly">30 Days</button>
                <button class="js-seasonal-bar-filter" data-filter="yearly">12 Months</button>
            </div>
        </div>
        <div id="bar-space" class="bar-space"></div>
        <div>
            <button class="js-seasonal-bar-category js-seasonal-bar-category-active"
                    data-filter="Medicine">Medicine</button>
            <button class="js-seasonal-bar-category" data-filter="Supply">Suppy</button>
        </div>
    </div>
</div>
