{% if inventory %}
{{ inventory|json_script:'inventory-data' }}
{% endif %}
{% if inventory_data %}
{{ inventory_data|json_script:'inventory-counts' }}
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Inventory category
let inventoryFilter = 'all'
let inventoryData = JSON.parse(document.getElementById('inventory-data').textContent)
let filteredData = [...inventoryData]
const inventoryCategoryBtns = document.querySelectorAll('.inventory-category')
inventoryCategoryBtns.forEach((btn) => {
    btn.addEventListener('click', () => {
    let text = btn.innerText.toLowerCase()
    for( const catbtn of inventoryCategoryBtns){
        catbtn.classList.remove('active')
    }
    btn.classList.add('active')
    inventoryFilter = text
    filterInventoryData()
    renderFilteredInventory()
    })
})
//==========================================

//Function for Filtering inventory data based on the inventoryFilter
function filterInventoryData() {
    if (inventoryFilter === 'all') {
    filteredData = [...inventoryData]
    } else {
    filteredData = inventoryData.filter((data) => {
        return data.category.toLowerCase() === inventoryFilter
    })
    }
}
//==========================================

//Function for rendering the updated table based on the inventoryFilter
function renderFilteredInventory() {
    const inventoryBody = document.getElementById('inventory-body')
    let mainHTML = ''
    if (filteredData.length > 0) {
    filteredData.forEach((data) => {
        let html = `
                                                                                                                                                                    <tr>
                                                                                                                                                                    <td>${data.item_name}</td>
                                                                                                                                                                    <td>${data.category}</td>
                                                                                                                                                                    <td>${data.total_quantity}</td>
                                                                                                                                                                    <td>${formatDate(data.expiration_date)}</td>
                                                                                                                                                                    </tr>
                                                                                                                                                                    `
        mainHTML += html
    })
    } else {
    mainHTML = `
                                                                                                                                                                                    <tr>
                                                                                                                                                                                    No Data
                                                                                                                                                                                    </tr>
                                                                                                                                                                                    `
    }

    inventoryBody.innerHTML = mainHTML
}
//==========================================

//Function to format the date
function formatDate(dateString) {
    const date = new Date(dateString)

    // Define options for date formatting
    const options = {
    year: 'numeric',
    month: 'short', // Short month name (e.g., "Feb.")
    day: 'numeric'
    }

    // Format the date using Intl.DateTimeFormat
    const formattedDate = new Intl.DateTimeFormat('en-US', options).format(date)
    return formattedDate
}
//==========================================
// Inventory sort select
const inventorySortSelect = document.getElementById('inventory-sort-select')
 inventorySortSelect.addEventListener('change', () => {  // if inventory sorter is change
    let text = inventorySortSelect.value.toLowerCase()

    if (sortDirection[text] === 'asc') {
        sortDirection[text] = 'desc'
    } else {
        sortDirection[text] = 'asc'
    }
    if (text === 'name') {
        filteredData = [...filteredData.sort((a, b) => compareItemNames(a, b, sortDirection.name))]
    } else if (text === 'stock') {
        filteredData = [...filteredData.sort((a, b) => compareStock(a, b, sortDirection.stock))]
    } else if (text === 'date') {
        filteredData = [...filteredData.sort((a, b) => compareDates(a, b, sortDirection.date))]
    }

    renderFilteredInventory()
})

//==========================================

// Inventory Sort
let sortDirection = {
    name: 'asc',
    stock: 'asc',
    date: 'asc'
}
const inventorySortBtns = document.querySelectorAll('.inventory-sorter')
inventorySortBtns.forEach((btn) => {
    btn.addEventListener('click', () => {
    let text = btn.innerText.toLowerCase()

    if (sortDirection[text] === 'asc') {
        sortDirection[text] = 'desc'
    } else {
        sortDirection[text] = 'asc'
    }
    if (text === 'name') {
        filteredData = [...filteredData.sort((a, b) => compareItemNames(a, b, sortDirection.name))]
    } else if (text === 'stock') {
        filteredData = [...filteredData.sort((a, b) => compareStock(a, b, sortDirection.stock))]
    } else if (text === 'date') {
        filteredData = [...filteredData.sort((a, b) => compareDates(a, b, sortDirection.date))]
    }

    renderFilteredInventory()
    })
})
//==========================================

// Function to compare item names for sorting
function compareItemNames(a, b, direction) {
    const itemA = a.item_name.toLowerCase()
    const itemB = b.item_name.toLowerCase()

    if (direction === 'asc') {
    if (itemA < itemB) {
        return -1
    }
    if (itemA > itemB) {
        return 1
    }
    } else {
    if (itemA < itemB) {
        return 1
    }
    if (itemA > itemB) {
        return -1
    }
    }
    return 0
}
//==========================================

// Function to compare stock for sorting
function compareStock(a, b, direction) {
    const stockA = a.total_quantity || 0
    const stockB = b.total_quantity || 0

    if (direction === 'asc') {
    return stockA - stockB
    } else {
    return stockB - stockA
    }
}

//==========================================

// Function to compare stock for sorting
function compareDates(a, b, direction) {
    const dateA = new Date(a.expiration_date)
    const dateB = new Date(b.expiration_date)

    if (direction === 'asc') {
    return dateA - dateB
    } else {
    return dateB - dateA
    }
}
//==========================================

// Searching function for the inventory
const searchField = document.getElementById('search-field')
const searchBtn = document.querySelector('.search-btn')

//User presses button
searchBtn.addEventListener('click', searchInventory)

//User presses enter
searchField.addEventListener('keydown', (event) => {
    if (event.key === 'Enter') {
    searchInventory()
    }
})

function searchInventory() {
    let text = searchField.value.toLowerCase()
    filteredData = [
    ...inventoryData.filter((data) => {
        return data.item_name.toLowerCase().includes(text)
    })
    ]
    searchField.value = ''
    renderFilteredInventory()
}
//==========================================

//Inventory chart
const inventoryChartCanvas = document.getElementById('inventory-chart')

new Chart(inventoryChartCanvas, {
    type: 'bar',
    data: {
    labels: ['Current Stocks', 'Expired Items'],
    datasets: [
        {
        label: 'Medicines',
        data: [{{counts.medicine_avail}}, {{counts.supply_avail}}],
        backgroundColor: 'rgba(204, 144, 0, 1)',
        borderColor: 'rgba(255, 99, 132, 1)',
        borderWidth: 1
        },
        {
        label: 'Supply',
        data: [{{counts.medicine_expired}}, {{counts.supply_expired}}],
        backgroundColor: 'rgba(153, 13, 0, 1)',
        borderColor: 'rgba(54, 162, 235, 1)',
        borderWidth: 1
        }
    ]
    },
    options: {
    scales: {
        x: {
        stacked: true
        },
        y: {
        beginAtZero: false,
        stacked: true,
        min: 0
        }
    }
    }
})
//==========================================

// Function to filter inventory counts
let inventoryCounts = JSON.parse(document.getElementById('inventory-counts').textContent)
let trendData = 'Medicine'
let filterTrendData = 'year'
let filteredInventoryCounts = filterInventoryCounts(trendData, filterTrendData)

function filterInventoryCounts(trendData, filterTrendData){
    trendData = trendData.toLowerCase()
    filterTrendData = filterTrendData.toLowerCase()
    return inventoryCounts[trendData][filterTrendData]
}

//==========================================

// Filter Data Using the buttons for trends
const seasonalFilter = document.querySelectorAll('.seasonal-filter')
seasonalFilter.forEach((btn)=>{
    btn.addEventListener('click', ()=>{
    let text = btn.innerText
    if(text == '12 Months'){
        filterTrendData = 'year'
    }
    else if(text == '30 Days'){
        filterTrendData = 'month'
    }
    else if(text == '7 Days'){
        filterTrendData = 'week'
    }
    filteredInventoryCounts = filterInventoryCounts(trendData, filterTrendData)
    updateSeasonalCanvas(seasonalCanvas)
    })
})
//==========================================

//Filter inventory counts using the supply category
const seasonalCategory = document.querySelectorAll('.seasonal-category')
seasonalCategory.forEach((btn)=>{
    btn.addEventListener('click', ()=>{
    let text = btn.innerText
    if(text == 'Medicine'){
        trendData = 'Medicine'
    }
    else if(text == 'Supply'){
        trendData = 'Supply'
    }
    filteredInventoryCounts = filterInventoryCounts(trendData, filterTrendData)
    updateSeasonalCanvas(seasonalCanvas)
    })
})
//==========================================

// Seasonal Line Chart
const seasonalCanvas = document.getElementById('seasonal-canvas')

updateSeasonalCanvas(seasonalCanvas)

function updateSeasonalCanvas(seasonalCanvas){
    filteredInventoryCounts = filterInventoryCounts(trendData, filterTrendData)
    let xLabels=[]
    let dataPoints = []
    Object.entries(filteredInventoryCounts).forEach(([key, value]) => {
    xLabels.push(key)
    dataPoints.push(value)
    })

    const ctx = seasonalCanvas.getContext('2d')

    let existingChart = Chart.getChart(ctx)
    if (existingChart) {
    existingChart.destroy() // Destroy if it exists
    }
    window.myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: xLabels,
        datasets: [
        {
            label: trendData,
            data: dataPoints,
            backgroundColor: 'rgba(204, 144, 0, 1)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1
        }
        ]
    },
    options: {
        scales: {
        x: {
            stacked: true
        },
        y: {
            beginAtZero: false,
            stacked: true,
            min: 0
        }
        }
    }
    })
}
//==========================================

// Prepare data for populating the seasonal bars
let seasonalBarFilter = 'week'
let seasonalBarData = 'medicine'
let filteredSeasonalBarData = filterSeasonalBarData()


//==========================================


// Filter seasonal bar data
function filterSeasonalBarData(){
    return inventoryCounts[seasonalBarData][`detail-${seasonalBarFilter}`]
}

//==========================================



//Date Filter for the seasonal bars
const seasonalBarFilterBtns = document.querySelectorAll('.seasonal-bar-filter')
seasonalBarFilterBtns.forEach((btn)=>{
    btn.addEventListener('click', ()=>{
        let text = btn.getAttribute('data-filter').toLowerCase()
        seasonalBarFilter = text
        filteredSeasonalBarData = filterSeasonalBarData()
        createSeasonalBarCanvas()
    })

})

//==========================================

// Category Filter for seasonal bars
const seasonalCategoryBars = document.querySelectorAll('.seasonal-bar-category')
seasonalCategoryBars.forEach((btn)=>{
    btn.addEventListener('click', ()=>{
        let text = btn.getAttribute('data-filter').toLowerCase()
        seasonalBarData = text
        filteredSeasonalBarData = filterSeasonalBarData()
        createSeasonalBarCanvas()
    })
})
//==========================================

//Function for Creating canvas for each inventory data
function createSeasonalBarCanvas(){
    const seasonalBarSpace = document.getElementById('bar-space')
    let html = ''
    filteredSeasonalBarData = filterSeasonalBarData()
    let maxCount = 0
    Object.entries(filteredSeasonalBarData).forEach(([key, value], index)=>{
        let text = `
            <h5>${key}</h5>
            <div class="seasonal-bars">
                <canvas id="${index}-${key}"></canvas>
            </div>
        `
        html += text
        maxCount += value
    })
    seasonalBarSpace.innerHTML = html
    Object.entries(filteredSeasonalBarData).forEach(([key, value], index)=>{
        let canvas = document.getElementById(`${index}-${key}`)
        let ctx = canvas.getContext('2d');
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        canvas.width = 0
        canvas.height = 0
        canvas.width = canvas.parentElement.clientWidth;
        canvas.height = canvas.parentElement.clientHeight;

        //background bar
        ctx.fillStyle = '#E4E7EC'
        ctx.fillRect(0,0,parseInt(canvas.width),parseInt(canvas.height))

        //foreground bar
        ctx.fillStyle = '#141C24'
        let width = (parseInt(canvas.width))/maxCount*(parseInt(value))
        ctx.fillRect(0,0,width,parseInt(canvas.height))
    })


}
createSeasonalBarCanvas()
//==========================================

// Function for creating the bars
//==========================================

// Add new inventory item
const addInventoryBtn = document.getElementById('add-inventory')
const addInventoryModal = document.getElementById('inventory-modal')

const closeBtn = document.querySelectorAll('.close')

closeBtn.forEach((btn)=>{
    btn.addEventListener('click', (event)=>{
        event.preventDefault()
     addInventoryModal.style.display = "none";
    })
})

// When the user clicks on the button, open the modal
addInventoryBtn.onclick = function() {
    addInventoryModal.style.display = "block";
}


// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == addInventoryModal) {
    addInventoryModal.style.display = "none";
  }
}

//==========================================
</script>
