{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block title %}Inventory | HealthHarmony{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/modern-normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/clinic/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/clinic/inventory-main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/clinic/inventory-right.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utils.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
          rel="stylesheet" />
    <!--   <style>
        .btn {
            cursor: pointer;
        }
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
          }

          /* Modal Content/Box */
          .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
          }

          /* The Close Button */
          .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
          }

          .close:hover,
          .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
          }
    </style>   -->
{% endblock %}
{% block message %}
    {% if messages|has_error_message %}
        {% include 'error.html' %}
    {% endif %}
{% endblock %}
{% block main %}
    {% include 'staff/nav-top.html' %}
    <div class="nurse-container">
        {% include 'staff/navbar.html' %}
        <main class="staff-main">
            <div class="inventory">
                <table>
                    <thead>
                        <tr>
                            <th colspan="5">
                                <div class="header-content">
                                    <h1>Inventory Overview</h1>
                                    <div class="search-container">
                                        <input type="text"
                                               class="js-inventory-search-container"
                                               id="search-field"
                                               placeholder="Search..." />
                                        <button class="js-inventory-search-btn">
                                            <span class="material-symbols-outlined">search</span>
                                        </button>
                                    </div>
                                    <div class="sort-by">
                                        <span>Sort By:</span>
                                        <select id="inventory-sort-select" class="js-inventory-sort-select">
                                            <option value="name">Name</option>
                                            <option value="date">Expiry Date</option>
                                            <option value="stock">Stock</option>
                                        </select>
                                        <button class="js-inventory-direction" data-sort="asc">
                                            <span class="material-symbols-outlined">sort_by_alpha</span>
                                        </button>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="5">
                                <div class="header-content">
                                    <div class="category-buttons">
                                        <button class="inventory_cat-active inventory-category inventory-category js-inventory-category js-inventory-category-active"
                                                data-sorter="0">All</button>
                                        <button class="inventory_cat inventory-category js-inventory-category"
                                                data-sorter="1">Medication</button>
                                        <button class="inventory_cat inventory-category js-inventory-category"
                                                data-sorter="2">Supply</button>
                                    </div>
                                    <button id="add-inventory" class="add-inventory js-add-inventory-btn">
                                        <span class="material-symbols-outlined">add</span> Item
                                    </button>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="table-head item-column-head">Name</th>
                            <th class="table-head cat-column-head">Category</th>
                            <th class="table-head total-column-head">Stock</th>
                            <th class="table-head exp-column-head">Expiration Date</th>
                            <th class="table-head action-column" colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="inventory-body">
                        {% for data in sorted_inventory %}
                            <tr>
                                <td class="table-data item-column">{{ data.item_name }}</td>
                                <td class="table-data cat-column">{{ data.category }}</td>
                                <td class="table-data total-column">{{ data.total_quantity }}</td>
                                <td class="table-data exp-column">{{ data.expiration_date }}</td>
                                <td class="table-data js-inventory-btn btn view-column"
                                    data-id="{{ data.id }}">View</td>
                                <td class="table-data js-inventory-delete-btn btn delete-column"
                                    data-id="{{ data.id }}">
                                    <span class="material-symbols-outlined delete-btn">delete</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="graphs lineChart">
                <div class="top-chart">
                    <h4>Seasonal Trends</h4>
                    <div class="date-buttons">
                        <button class="seasonal-filter js-seasonal-filter js-seasonal-filter-active cat-button active-cat"
                                data-sorter="yearly">12 Months</button>
                        <button class="seasonal-filter js-seasonal-filter cat-button"
                                data-sorter="monthly">30 Days</button>
                        <button class="seasonal-filter js-seasonal-filter cat-button"
                                data-sorter="weekly">7 Days</button>
                    </div>
                </div>
                <div class="seasonal-graph">
                    <div style="aspect-ratio: 2">
                        <canvas id="js-seasonal-canvas"></canvas>
                    </div>
                </div>
                <div class="line-chart-bottom">
                    <button class="seasonal-category js-seasonal-category-btn js-seasonal-category-btn-active bottom-cat-btn bottom-cat-btn-active"
                            data-sorter="Medicine">Medicine</button>
                    <button class="seasonal-category js-seasonal-category-btn bottom-cat-btn"
                            data-sorter="Supply">Supply</button>
                </div>
            </div>
        </main>
        {% include 'staff/inventory-right.html' %}
    </div>
    <div id="inventory-modal" class="modal js-add-inventory-modal">
        <!-- Modal content -->
        <div class="modal-content">
            <h1>Add New Item</h1>
            <span class="material-symbols-outlined close js-close-inventory-btn">cancel</span>
            <form action="{% url 'staff-inventory-add' %}" method="post">
                {% csrf_token %}
                <div class="form-top">
                    <div class="form-group">
                        <label for="item_name">Item Name</label>
                        <input type="text" placeholder="name.." name="item_name" required />
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" name="quantity" />
                    </div>
                </div>
                <div class="form-middle">
                    <div class="form-group">
                        <label for="item_no">Item Number</label>
                        <input type="number" placeholder="#" name="item_no" required />
                    </div>
                    <div class="form-group">
                        <label for="unit">Unit Type</label>
                        <input type="text" placeholder="unit type.." name="unit" required />
                    </div>
                </div>
                <div class="form-bottom">
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select name="category" required>
                            <option value="Medicine">Medicine</option>
                            <option value="Supply">Supply</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="expiration_date">Expiration Date</label>
                        <input type="date" name="expiration_date" />
                    </div>
                </div>
                <div class="form-last">
                    <label for="description">Item Description</label>
                    <input type="search" placeholder="description.." name="description" />
                </div>
                <div class="form-buttons">
                    <button type="submit" class="add-btn">Add</button>
                    <button type="button" class="cancel-btn js-close-inventory-btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <div id="updatedInventoryModal" class="modal">
        <div class="modal-content">
            <span class="js-close-update-inventory-btn">&times;</span>
            <form action="" method="post" class="form-body">
                {% csrf_token class='token' %}
                <div class="form-top">
                    <div class="form-group">
                        <label for="item_name">Item Name</label>
                        <input type="text" placeholder="name.." name="item_name" required />
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" name="quantity" />
                    </div>
                </div>
                <div class="form-middle">
                    <div class="form-group">
                        <label for="item_no">Item Number</label>
                        <input type="number" placeholder="#" name="item_no" required />
                    </div>
                    <div class="form-group">
                        <label for="unit">Unit Type</label>
                        <input type="text" placeholder="unit type.." name="unit" required />
                    </div>
                </div>
                <div class="form-bottom">
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select name="category" required>
                            <option value="Medicine">Medicine</option>
                            <option value="Supply">Supply</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="expiration_date">Expiration Date</label>
                        <input type="date" name="expiration_date" />
                    </div>
                </div>
                <div class="form-last">
                    <label for="description">Item Description</label>
                    <input type="search" placeholder="description.." name="description" />
                </div>
                <div class="form-buttons">
                    <button type="submit" class="add-btn">Add</button>
                    <button type="button" class="cancel-btn js-close-update-inventory-btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <div id="deleteInventoryModal" class="modal">
        <div class="modal-content small-modal">
            <span class="material-symbols-outlined close js-close-inventory-btn">cancel</span>
            <form action="" class="form-body" method="POST">
                <p>Are you sure you want to delete?</p>
                <div class="form-buttons">
                    <button type="submit" class="add-btn">Delete</button>
                    <button type="button" class="cancel-btn js-close-delete-btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    {% include 'staff/inventory-script.html' %}
{% endblock %}
