{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block title %}Records | HealthHarmony{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/modern-normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/clinic/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/clinic/record-main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utils.css' %}" />
    <link rel="stylesheet" href="{% static 'css/clinic/overview.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"
          rel="stylesheet" />
    <style>
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    </style>
{% endblock %}
{% block message %}
    {% if messages|has_error_message %}
        {% include 'error.html' %}
    {% endif %}
{% endblock %}
{% block main %}
    {% include 'staff/nav-top.html' %}
    <div class="nurse-container2">
        {% include 'staff/navbar.html' %}
        <div>
            <h3>Visit and Request History</h3>
            <div class="upper">
                <h4>Visit History</h4>
                <div>
                    <button id="addRecordBtn">Add Record</button>
                    <!-- The Modal -->
                    <div class="modal js-add-record-modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="js-close-add-record">&times;</span>
                            <form action="{% url 'create-patient-add-issue' %}" method="post">
                                {% csrf_token %}
                                <label for="">Patient Email</label>
                                <input type="text" name="email" list="patients" />
                                <datalist id="patients"></datalist>
                                <label for="">Issue</label>
                                <input type="text" name="issue" />
                                <button type="submit">Add Complaint</button>
                                <button type="button" class="js-close-add-record">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th class="table-head">Date and Time of Visit</th>
                            <th class="table-head">Patient</th>
                            <th class="table-head">Concern</th>
                            <th class="table-head">Status</th>
                            <th class="table-head" colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if history %}
                            {% for data in history %}
                                <tr>
                                    <td class="table-data date" data="date-{{ data.id }}">{{ data.added }}</td>
                                    <td class="table-data">{{ data.first_name }} {{ data.last_name }}</td>
                                    <td class="table-data">{{ data.issue|truncatechars:60 }}</td>
                                    <td class="table-data">
                                        {% if data.diagnosis %}
                                            Finished
                                        {% else %}
                                            Ongoing
                                        {% endif %}
                                    </td>
                                    <td class="table-data js-view-illness-btn"
                                        data-illness-id="{{ data.id }}">View Illness</td>
                                    <td class="table-data js-view-patient"
                                        data-patient-id="{{ data.patient }}">Go to Patient Profile</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td class="table-data" colspan="4">No available data</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="table-data" colspan="4">No available data</td>
                            </tr>
                        {% endif %}
                    </tbody>
                    {% if history.has_other_pages %}
                        <div class="pagination">
                            <span class="step-links">
                                {% if history.has_previous %}
                                    <a href="?page=1" class="js-links">&laquo; First</a>
                                    <a class="js-links" href="?page={{ history.previous_page_number }}">Previous</a>
                                {% endif %}
                                <span class="current">Page {{ history.number }} of {{ history.paginator.num_pages }}.</span>
                                {% if history.has_next %}
                                    <a class="js-links" href="?page={{ history.next_page_number }}">Next</a>
                                    <a class="js-links" href="?page={{ history.paginator.num_pages }}">Last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                </table>
            </div>
            <div class="lower">
                <div class="left">
                    <h4>Request Summary</h4>
                    <div class="main-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Requester</th>
                                    <th>Purpose</th>
                                    <th>Date Requested</th>
                                </tr>
                            </thead>
                            <tbody class="request-body js-request-body">
                                {% for certificate in certificates_page %}
                                    <tr>
                                        <td>{{ certificate.email }}</td>
                                        <td>{{ certificate.first_name }} {{ certificate.last_name }}</td>
                                        <td>{{ certificate.purpose|truncatechars:60 }}</td>
                                        <td class="js-cert-date">{{ certificate.requested }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            {% if certificates_page.has_other_pages %}
                                <div class="pagination">
                                    <span class="step-links">
                                        {% if certificates_page.has_previous %}
                                            <a href="?cert-page=1" class="js-links">&laquo; First</a>
                                            <a href="?cert-page={{ certificates_page.previous_page_number }}"
                                               class="js-links">Previous</a>
                                        {% endif %}
                                        <span class="current">Page {{ certificates_page.number }} of {{ certificates_page.paginator.num_pages }}.</span>
                                        {% if certificates_page.has_next %}
                                            <a href="?cert-page={{ certificates_page.next_page_number }}"
                                               class="js-links">Next</a>
                                            <a href="?cert-page={{ certificates_page.paginator.num_pages }}"
                                               class="js-links">Last &raquo;</a>
                                        {% endif %}
                                    </span>
                                </div>
                            {% endif %}
                        </table>
                    </div>
                    <div>
                        <button class="js-request-status-filter" data-filter="">All</button>
                        <button class="js-request-status-filter" data-filter="false">Pending</button>
                        <button class="js-request-status-filter" data-filter="true">Released</button>
                    </div>
                </div>
                <div class="right">
                    <div>
                        <button class="js-request-date-filter js-request-date-active"
                                data-filter="weekly">Last 7 days</button>
                        <button class="js-request-date-filter" data-filter="monthly">Last 30 days</button>
                        <button class="js-request-date-filter" data-filter="yearly">Last 12 months</button>
                    </div>
                    <div class="bar-space">
                        <canvas id="requestBar"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modals">
        <div id="viewIllnessModal" class="modal">
            <div class="modal-content">
                <span class="js-close-view-illness-modal">&times;</span>
                <div class="modal-body">
                    <h1>Hi</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ history_data|json_script:'history-data' }}
    {{ certificates|json_script:'certificates' }}
    {{ certificate_chart|json_script:'certificate-chart' }}
    <script src="{% static 'chart.js/dist/chart.umd.js' %}"></script>
    <script src="{% static 'js/error.js' %}" type="module"></script>
    <script src="{% static 'js/staff/records.js' %}" type="module"></script>
{% endblock %}
