.email-container{
    background: white;
    padding: 1rem 1rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow2);
    margin-top: 2rem;
}
/* 1st verify */
*
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.top-1st{
    margin-bottom: 1rem;
}
.header-1st button{
    padding: 8px 8px;
    border-radius: 4px;
    color: rgb(109, 109, 109);
    transition: all 0.2s ease;
}
.header-1st button:hover{
    background: rgb(210, 166, 10);
    color: white;
}
.header-1st, .top-1st, .header-2nd{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.header-1st h1{
    color: rgb(200, 175, 14);
}
.header-1st p{
    line-height: 1.3;
    width: 600px;
    margin-bottom: 1rem;
}


/* 1st verify */
/* 2nd verify */
.header-2nd button{
    padding: 8px 8px;
    border-radius: 4px;
    background: rgb(210, 166, 10);
    transition: all 0.2s ease;
    margin-top: 8px;
}
.header-2nd button:hover{
    background: rgba(210, 167, 10, 0.548);
}
.header-2nd h1{
    font-size: var(--size-2xl);
}
.header-2nd p{
    font-size: var(--size-sm);
}