/* 1st verify */
*
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.top-1st{
    gap: 1rem;
    margin-top: 2rem;
}
.header-1st button, .header-2nd button{
    padding: 8px 8px;
    border-radius: 4px;
    color: rgb(109, 109, 109);
    transition: all 0.2s ease;
}
.header-1st button{
    color: rgb(109, 109, 109);
}
.header-2nd button{
    color: white;
}
.header-1st button:hover{
    background: rgb(210, 166, 10);
    color: white;
}
.header-1st, .top-1st, .header-2nd{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.header-1st h1, .header-2nd h1{
    color: rgb(200, 175, 14);
    margin-bottom: 8px;
}
.header-2nd{
    background: white;
    padding: 1rem 1rem;
    border-radius: 8px;
    box-shadow: 0 0rem 1rem rgb(32, 43, 55,0.2);
}
.header-1st p{
    line-height: 1.3;
    width: 600px;
    margin-bottom: 1rem;
}
.header-2nd p{
    width: 600px;
    margin-bottom: 1rem;
}


/* 1st verify */

/* 2nd verify */

.email-confirm-btn{
    background: rgb(210, 166, 10);
}
.email-confirm-btn:hover{
    background: rgb(185, 147, 8);
}
/* 2nd verify */