main{
    margin-top: 1rem;
}
main h2{
    margin-bottom: 8px;
}
a, span{
    text-decoration: none;
}

form input{
    height: 2rem;
    border-radius: 4px;
    padding: 4px 8px;
}
.patient-profile{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    background: white;
    box-shadow: var(--box-shadowlight);
    width: 50%;
    border-radius: 1rem;
}
.dp-pic{
    width: 230px;    /* Adjust the size as needed */
  height: 230px;   /* Ensure it's a square */
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
  box-shadow: var(--box-shadowlight);
}
.patient-profile-name{
    font-size: var(--size-3xl);
    text-align: center;
    font-weight: 600;
}
.patient-profile-data{
    text-align: center;
    font-size: var(--size-lg);
    font-weight: 400;
    color: #97a1af;;
}

.edit-btn{
    padding: 0.5rem 1rem;
    background:black;
    border-radius: 0.5rem;
    color: white;
    transition: all 0.3s ease ;
}
.edit-btn:hover{
    background:rgba(0, 0, 0, 0.647);
}
.patient-profile form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* form */
.edit-buttons{
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 8px;
}
.edit-buttons button{
    padding: 8px 8px;
    border-radius: 4px;
    transition: all 0.2s ease;
}
.edit-buttons .update-btn{
    background: rgb(0, 138, 0);
    color: white;
}
.edit-buttons .update-btn:hover{
    background: rgb(0, 97, 0);
}
.edit-buttons .cancel-btn{
    border: 1px solid var(--Red);
    color: red;
}
.edit-buttons .cancel-btn:hover{
    background: var(--Red);
    color: white;
}
