{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block title %}Handled Cases | HealthHarmony{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/modern-normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/clinic/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/doctor/handled.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utils.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
          rel="stylesheet" />
{% endblock %}
{% block main %}
    {% include 'doctor/nav-top.html' %}
    <div class="doctor-profile-container">
        {% include 'doctor/nav.html' %}
        <main>
            {% if messages|has_success_message %}
                <div class="pop-up-message pop-up-green js-messages">
                    {% for m in messages %}
                        {% if m.tags == 'success' %}<p>{{ m }}</p>{% endif %}
                    {% endfor %}
                    <span class="material-symbols-outlined close-pop-up js-close-messages">cancel</span>
                </div>
            {% endif %}
            {% if messages|has_error_message %}
                <div class="pop-up-message pop-up-red js-messages">
                    {% for m in messages %}
                        {% if m.tags == 'error' %}<p>{{ m }}</p>{% endif %}
                    {% endfor %}
                    <span class="material-symbols-outlined close-pop-up js-close-messages">cancel</span>
                </div>
            {% endif %}
            <div class="doctor-right-part">
                <div class="most-illness-categories">
                    <h1>Illness Categories</h1>
                    <p>Cases you have handled per category</p>
                    <div class="canvas-cont">
                        <canvas id="js_illness_categories_bar"></canvas>
                    </div>
                </div>
                <div class="most-cases-per-department">
                    <h1>Colleges</h1>
                    <p>Cases you have handled per college</p>
                    <div class="canvas-cont">
                        <canvas id="js_college_bar"></canvas>
                    </div>
                </div>
            </div>
            <div>
                <table class="mod-table">
                    <thead>
                        <tr>
                            <th colspan="5">
                                <div class="header-content">
                                    <h1>Your Handled Cases</h1>
                                    <div class="search-container">
                                        <form action="" method="GET">
                                            <input type="text"
                                                   class="js_illness_case_field"
                                                   placeholder="Search"
                                                   name="search" />
                                            <button>
                                                <span class="material-symbols-outlined">search</span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="table-head">Patient Name</th>
                            <th class="table-head">Issue</th>
                            <th class="table-head">Status</th>
                            <th class="table-head">Action</th>
                        </tr>
                    </thead>
                    <tbody id="illness_body">
                        {% for illness in illness_page %}
                            <tr>
                                <td class="table-data">
                                    {% if illness.patient.first_name and illness.patient.last_name %}
                                        <span class="patient btn" data-patient-id="{{ illness.patient.id }}">{{ illness.patient.first_name }} {{ illness.patient.last_name }}</span>
                                    {% else %}
                                        <span class="patient btn" data-patient-id="{{ illness.patient.id }}">{{ illness.patient.email }}</span>
                                    {% endif %}
                                </td>
                                <td class="table-data">{{ illness.issue|truncatewords:'10' }}</td>
                                {% if illness.diagnosis %}
                                    <td class="table-data">Completed</td>
                                {% else %}
                                    <td class="table-data">Pending</td>
                                {% endif %}
                                <td class="js-view-illness btn table-data review-data"
                                    data-patient-id="{{ illness.patient.id }}">Review</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">No cases found.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination pagination-design">
                    <span class="step-links">
                        {% if illness_page.has_previous %}
                            <a href="?page=1" class="js-links page-shortcut">&laquo; First</a>
                            <a class="js-links" href="?page={{ illness_page.previous_page_number }}">
                                <div class="previous-next-page">
                                    <span class="material-symbols-outlined page-icon">arrow_back_ios</span> <span>Previous</span>
                                </div>
                            </a>
                        {% endif %}
                        <span class="current">Page {{ illness_page.number }} of {{ illness_page.paginator.num_pages }}.</span>
                        {% if illness_page.has_next %}
                            <a class="js-links" href="?page={{ illness_page.next_page_number }}">
                                <div class="previous-next-page">
                                    <span>Next</span><span class="material-symbols-outlined page-icon">arrow_forward_ios</span>
                                </div>
                            </a>
                            <a class="js-links page-shortcut"
                               href="?page={{ illness_page.paginator.num_pages }}">Last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
{% block script %}
    {{ department_data|json_script:'department_data' }}
    {{ illness_category_data|json_script:'illness_category_data' }}
    <script src="{% static 'js/general/messages.js' %}" type="module"></script>
    <script src="{% static 'chart.js/dist/chart.umd.js' %}"></script>
    <script src="{% static 'chartjs-plugin-zoom/dist/chartjs-plugin-zoom.min.js' %}"></script>
    <script src="{% static 'js/dist/doctor_handled.js' %}" type="module"></script>
{% endblock %}
