{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block title %}Overview | HealthHarmony{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/modern-normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/clinic/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/doctor/overview-main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/doctor/overview-graph.css' %}" />
    <link rel="stylesheet" href="{% static 'css/doctor/overview-right.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utils.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
          rel="stylesheet" />
{% endblock %}
{% block main %}
    {% include 'doctor/nav-top.html' %}
    <div class="doctor-container">
        {% include 'doctor/nav.html' %}
        <main>
            {% if messages|has_success_message %}
                <div class="pop-up-message pop-up-green js-messages">
                    {% for m in messages %}
                        {% if m.tags == 'success' %}<p>{{ m }}</p>{% endif %}
                    {% endfor %}
                    <span class="material-symbols-outlined close-pop-up js-close-messages">cancel</span>
                </div>
            {% endif %}
            {% if messages|has_error_message %}
                <div class="pop-up-message pop-up-red js-messages">
                    {% for m in messages %}
                        {% if m.tags == 'error' %}<p>{{ m }}</p>{% endif %}
                    {% endfor %}
                    <span class="material-symbols-outlined close-pop-up js-close-messages">cancel</span>
                </div>
            {% endif %}
            <div class="illness-category-chart-space lineChart">
                <div class="top-chart">
                    <h4>Morbidity Cases</h4>
                    <div class="date-buttons">
                        <button class="js_category_filter js_category_filter_active cat-button active-cat"
                                data-category="yearly">12 Months</button>
                        <button class="js_category_filter cat-button" data-category="monthly">30 days</button>
                        <button class="js_category_filter cat-button" data-category="weekly">7 days</button>
                    </div>
                </div>
                <div>
                    <canvas id="morbidityChart"></canvas>
                </div>
                <div class="label-container">
                    <label for="categories">Choose a Morbidity:</label>
                    <select name="categories" id="categories" class="js_illness_category">
                        {% for category in categories %}<option value="{{ category.id }}">{{ category }}</option>{% endfor %}
                    </select>
                </div>
            </div>
            <div class="illness-space">
                <!--                    <h1>Illnesses</h1>
                <div>
                    <button class="js-illness-filter-active js-illness-filter" data-category="all">All</button>
                    <button class="js-illness-filter" data-category="not">Pending</button>
                    <button class="js-illness-filter" data-category="done">Completed</button>
                </div>                    -->
                <table class="mod-table">
                    <thead>
                        <tr>
                            <th colspan="5">
                                <div class="header-content">
                                    <h1>Illnesses</h1>
                                    <div class="category-buttons">
                                        <button class="js-illness-filter-active js-illness-filter button_cat-active button_cat"
                                                data-category="all">All</button>
                                        <button class="js-illness-filter button_cat" data-category="not">Pending</button>
                                        <button class="js-illness-filter button_cat" data-category="done">Completed</button>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="table-head name-column-head">Patient</th>
                            <th class="table-head issue-column-head">Issue</th>
                            <th class="table-head status-column-head">Status</th>
                            <th class="table-head view-column-head">Action</th>
                        </tr>
                    </thead>
                    <tbody id="illness_body">
                        {% for illness in illness_page %}
                            <tr>
                                <td class="table-data name-column">
                                    {% if illness.patient.first_name and illness.patient.last_name %}
                                        <span class="patient btn" data-patient-id="{{ illness.patient.id }}">{{ illness.patient.first_name|default_if_none:'' }} {{ illness.patient.last_name|default_if_none:'' }}</span>
                                    {% else %}
                                        <span class="patient btn" data-patient-id="{{ illness.patient.id }}">{{ illness.patient.email|default_if_none:'' }}</span>
                                    {% endif %}
                                </td>
                                <td class="table-data issue-column">{{ illness.issue }}</td>
                                {% if illness.diagnosis %}
                                    <td class="table-data status-column">Completed</td>
                                {% else %}
                                    <td class="table-data status-column">Pending</td>
                                {% endif %}
                                <td class="js-view-illness btn table-data view-column"
                                    data-patient-id="{{ illness.patient.id }}">Review</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">Congratulations! No case as of this moment.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination pagination-design">
                    <span class="step-links">
                        {% if illness_page.has_previous %}
                            <a href="?page=1" class="js-links page-shortcut">&laquo; First</a>
                            <a class="js-links" href="?page={{ illness_page.previous_page_number }}">
                                <div class="previous-next-page">
                                    <span class="material-symbols-outlined page-icon">arrow_back_ios</span> <span>Previous</span>
                                </div>
                            </a>
                        {% endif %}
                        <span class="current">Page {{ illness_page.number }} of {{ illness_page.paginator.num_pages }}.</span>
                        {% if illness_page.has_next %}
                            <a class="js-links" href="?page={{ illness_page.next_page_number }}">
                                <div class="previous-next-page">
                                    <span>Next</span><span class="material-symbols-outlined page-icon">arrow_forward_ios</span>
                                </div>
                            </a>
                            <a class="js-links page-shortcut"
                               href="?page={{ illness_page.paginator.num_pages }}">Last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </main>
        <div class="doctor-right-part">
            <div class="illness-categories-space">
                <h1>
                    Usual <span class="span-lightred">Illness</span> Categories This Month
                </h1>
                <div class="cat-card-cont">
                    {% for categories in illness_categories %}
                        <div class="cat-card">
                            <h4 class="cat-card-title">{{ categories.category }}</h4>
                            <h4 class="cat-card-data">Cases: {{ categories.count }}</h4>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="department-bars-space">
                <div class="collegeBar Bar">
                    <h4>Colleges</h4>
                    <div class="bar-btn-section">
                        <button class="js-department-bar-btn js-department-bar-btn-active bar-btn bar-btn-active"
                                data-category="yearly">12 Months</button>
                        <button class="js-department-bar-btn bar-btn" data-category="monthly">30 days</button>
                        <button class="js-department-bar-btn bar-btn" data-category="weekly">7 days</button>
                    </div>
                    <div id="departmentBars" class="bar-data"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modals">
        <div id="illness_modal" class="modal">
            <div class="modal_content">
                <form action="" method="POST" id="illness_form">
                    {% csrf_token %}
                    <div id="illness_form_content">
                        <h3>Patient Name:</h3>
                        <label>Illness:</label>
                        <input type="text" name="issue" value="" />
                        <label>Illness Category:</label>
                        <input type="text" name="category" value="" />
                        <label>Diagnosis:</label>
                        <input type="text" name="diagnosis" value="" />
                        <button type="submit">Update</button>
                    </div>
                </form>
                <span class="close">&times;</span>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ illness_data|json_script:'illness_data' }}
    {{ department_names|json_script:'department_names' }}
    {{ department_data|json_script:'department_data' }}
    {{ sorted_illness_category|json_script:'sorted_illness_category' }}
    <script src="{% static 'chart.js/dist/chart.umd.js' %}"></script>
    <script src="{% static 'js/dist/doctor_overview.js' %}" type="module"></script>
{% endblock %}
