{% extends 'base.html' %}
{% load static %}
{% block title %}Schedule | HealthHarmony{% endblock %}
{% block header %}
    <style>
    .border {
      border-style: solid;
      border-width: thin;
      border-color: black;
    }

    .btn {
      cursor: pointer;
    }

    #illness_modal,
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal_content {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    </style>
{% endblock %}
{% block message %}
    <div class="messages">
        {% for m in messages %}<div>{{ m }}</div>{% endfor %}
    </div>
{% endblock %}
{% block main %}
    {% include 'doctor/nav.html' %}
    <div class="container">
        <div class="TOP">
            <div class="LEFT">
                <h1>Your Schedule</h1>
                <h3>Set your schedule so that patients may know</h3>
                <div class="js_sched_details">
                    <h4>Available from: {{ doctor_sched.time_avail_start }}</h4>
                    <h4>Available until: {{ doctor_sched.time_avail_end }}</h4>
                </div>
                <div style="display: none" class="js_sched_form">
                    <form action="{% url 'post_update_doctor_time' %}" method="POST">
                        {% csrf_token %}
                        <label for="">Available from:</label>
                        <input type="time" required name="time_start" value="" />
                        <label for="">Available until:</label>
                        <input type="time" required name="time_end" value="" />
                        <button type="submit">Confirm</button>
                        <button type="button" class="js_update_sched_close_btn">Close</button>
                    </form>
                </div>
                <button class="js_update_sched_btn">Update</button>
            </div>
            <div class="RIGHT">
                <h1>IIMAGE HERE ON THIS DIV</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati sapiente magnam nesciunt. Cumque sequi iusto fugiat tempora, consequuntur porro nemo doloremque obcaecati minima nobis unde officia blanditiis quod quibusdam necessitatibus similique ea quas totam saepe dicta! Dolorem ad vero numquam cumque repellat eligendi dicta quae adipisci est sint eum voluptatem, molestias, fuga aut hic pariatur minima reprehenderit quibusdam repudiandae, nobis alias. Iure aliquid excepturi nam qui soluta velit rem ducimus eaque perferendis, exercitationem ad aperiam consequatur vel praesentium debitis voluptate. Ipsa aliquam cum quod sunt totam odio ipsam iure consectetur ab rerum consequuntur nesciunt error assumenda animi ullam, deleniti voluptatibus.
                </p>
            </div>
        </div>
        <div class="BOTTOM">
            <div class="LEFT">
                <h1>IMAGE HERE</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum voluptates deserunt earum vel possimus corporis eligendi ducimus maxime repudiandae optio quasi fuga alias odio eaque soluta, esse error necessitatibus impedit temporibus, voluptas id eos! At eos omnis accusamus similique quam officiis ut corporis corrupti autem vel. Facilis magni odio nesciunt rerum obcaecati neque voluptas at quod pariatur ducimus, nobis officiis ad magnam eius tenetur tempore commodi sint similique optio fugiat vel veniam nam. Impedit optio officiis sunt nemo, deserunt ducimus suscipit illum voluptates sapiente exercitationem alias veniam repellendus fugiat, provident sit voluptatem. Dolor cumque, inventore odio aliquam officiis architecto earum.
                </p>
            </div>
            <div class="RIGHT">
                <h1>Your Real Availability</h1>
                <h3>Mark the box so that patients may know if you are available</h3>
                <form action="{% url 'post_update_doctor_avail' %}"
                      method="POST"
                      class="js_avail_form">
                    {% csrf_token %}
                    <label for="">Available?</label>
                    <input type="checkbox" value="" name="is_avail" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ doctor_sched|json_script:'doctor_sched' }}
    <script src="{% static 'chart.js/dist/chart.umd.js' %}"></script>
    <script>
    const doctor_sched = JSON.parse(document.getElementById('doctor_sched').textContent)
    /** MAIN */
    console.log(doctor_sched.avail)
    update_init_date_data()
    update_init_avail_data()

    handle_oncheck_avail()

    handle_onclick_update_sched()
    handle_onclick_close_update()
    /** MAIN */

    /** FUNCTIONS */
    function handle_oncheck_avail() {
      // Select input element
      const input_element = document.querySelector('input[name="is_avail"]')
      input_element.addEventListener('change', () => {
        // if value is true, set to false. vice versa
        if (input_element.value == 'true') {
          input_element.value = 'false'
        } else if (input_element.value == 'false') {
          input_element.value = 'true'
        }

        // Manually submit form
        const form = document.querySelector('.js_avail_form')
        form.submit()
      })
    }

    function update_init_avail_data() {
      const input_element = document.querySelector('input[name="is_avail"]')
      if (doctor_sched.avail) {
        input_element.checked = true
        input_element.value = 'true'
      } else {
        input_element.checked = false
        input_element.value = 'false'
      }
    }

    function update_init_date_data() {
      const start_input_element = document.querySelector('input[name="time_start"]')
      const end_input_element = document.querySelector('input[name="time_end"]')

      start_input_element.value = doctor_sched.time_avail_start
      end_input_element.value = doctor_sched.time_avail_end
    }

    function handle_onclick_update_sched() {
      const btn = document.querySelector('.js_update_sched_btn')

      btn.addEventListener('click', () => {
        const form_element = document.querySelector('.js_sched_form')
        form_element.setAttribute('style', 'display: block')
        const sched_element = document.querySelector('.js_sched_details')
        sched_element.setAttribute('style', 'display: none')
        btn.setAttribute('style', 'display: none')
      })
    }

    function handle_onclick_close_update() {
      const btn = document.querySelector('.js_update_sched_close_btn')

      btn.addEventListener('click', (event) => {
        event.preventDefault()
        const btn = document.querySelector('.js_update_sched_btn')
        btn.setAttribute('style', 'display: block')
        const form_element = document.querySelector('.js_sched_form')
        form_element.setAttribute('style', 'display: none')
        const sched_element = document.querySelector('.js_sched_details')
        sched_element.setAttribute('style', 'display: block')
      })
    }
    </script>
{% endblock %}
