{% load static %}
<aside>
  <div class="logo">
    <img src="{% static 'assets/images/landing-page/logo/adminlogo.svg' %}" />
  </div>
  <div class="sidebar">
    <a href="{% url 'staff-overview' %}" class="{% if page == 'overview' %}active{% endif %}">
      <img src="{% static 'assets/images/nav/dashboard.svg' %}"
        class="{% if page == 'overview' %}
          
          
          
          active


        {% else %}
          
          
          span-lightgray


        {% endif %}" />
      <span class="{% if page == 'overview' %}
          
          
          
          
          
          
          
          
          
          
          
          span-yellow











        {% else %}
          
          
          
          
          
          
          
          
          
          
          
          span-lightgray











        {% endif %}">
        Overview
      </span>
    </a>
    <a href="{% url 'staff-inventory' %}" class="{% if page == 'inventory' %}active{% endif %}">
      <img src="{% static 'assets/images/nav/inventory.svg' %}" />
      <span class="{% if page == 'inventory' %}
          
          
          
          
          
          
          
          
          
          
          
      span-yellow











        {% else %}
          
          
          
          
          
          
          
          
          
      
      
      span-lightgray











        {% endif %}">
        Inventory
      </span>
    </a>
    <a href="{% url 'staff-records' %}" class="{% if page == 'records' %}active{% endif %}">
      <img src="{% static 'assets/images/nav/record.svg' %}" />
      <span class="{% if page == 'records' %}
          
          
          
          
          
          
          
          
          
          
          
      span-yellow











        {% else %}
          
          
          
          
          
          
          
          
          
      
      
      span-lightgray











        {% endif %}">
        Record
      </span>
    </a>
    <a href="{% url 'staff-bed' %}" class="{% if page == 'bed' %}active{% endif %}">
      <img src="{% static 'assets/images/nav/features.svg' %}" />
      <span class="{% if page == 'bed' %}
          
          
          
          
          
          
          
          
          
          
          
      span-yellow











        {% else %}
          
          
          
          
          
          
          
          
          
      
      
      span-lightgray











        {% endif %}">
        Features
      </span>
    </a>
    <a href="#">
      <img src="{% static 'assets/images/nav/account.svg' %}" />
      <span class="span-lightgray">Account</span>
    </a>
    <a href="#">
      <img src="{% static 'assets/images/nav/logout.svg' %}" />
      <span class="span-lightgray">Logout</span>
    </a>
  </div>
</aside>
