{% extends 'base.html' %}
{% load static %}
{% block title %}
  Overview | HealthHarmony
{% endblock %}
{% block header %}
  <link rel="stylesheet" href="{% static 'css/clinic/overview.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet" />
{% endblock %}

{% block main %}
  <div class="container">
    {% include 'staff/navbar.html' %}
    <!-- MAIN CONTENT -->
    <main>
      {% include 'staff/top.html' %}
      {% include 'staff/graphs.html' %}
    </main>
  </div>
{% endblock %}
{% block script %}
  {% include 'staff/overview-script.html' %}
{% endblock %}
